[2017-11-09 07:25] SimenB opened #2 "Document `prefer-to-have-length`"
It's not mentioned in the readme

[2017-11-09 07:27] SimenB opened #3 "Add a changelog"
Should we go for semantic commits so we don't have to manually maintain it?

Should we use semantic release and just publish from CI?

[2017-11-09 07:45] SimenB commented on #2
@xfumihiro would you mind doing this? 🙂

[2017-11-09 07:46] xfumihiro commented on #2
sure!

[2017-11-09 08:20] #2 closed

[2017-11-09 09:20] thymikee commented on #3
I’ve tried semantic-release once and had some issues back then. But maybe we could revisit

[2017-11-09 13:10] Ionut-Milas opened #5 "Error when adding to project."
I get this error:

[code]

[2017-11-09 13:19] orta commented on #3
I'm always optimistic towards semantic-release for smaller libs, so maybe it's worth a try - yeah

[2017-11-09 13:20] SimenB commented on #5
Oh, there's a trailing comma, there! Sorry

[2017-11-09 13:21] #5 closed

[2017-11-09 13:22] SimenB commented on #5
Fix published as 21.3.1

[2017-11-09 13:25] thymikee commented on #5
Moving fast! 🚀

[2017-11-09 13:26] Ionut-Milas commented on #5
Yes, sadly there is a new error now.
[code]

[2017-11-09 13:33] SimenB commented on #5
Interesting, do you have a repro?

[2017-11-09 13:34] Ionut-Milas commented on #5
this is what I test:

[code]
Basically a reducer that returns true.

This is the .eslintrc
[code]

[2017-11-09 14:03] SimenB commented on #5
@Ionut-Milas 21.3.2 out

[2017-11-09 14:08] Ionut-Milas commented on #5
@SimenB Works now. Thank you !!!

[2017-11-09 15:00] SimenB commented on #3
@orta could you set up danger here?

[2017-11-09 15:24] orta opened #7 "Add Danger"

[2017-11-11 01:26] dylang opened #12 "suggestion: prefer `test` or `it`"
# Suggest using `test` or `it` (always-test-or-it)

For consistency in code, always use `test` or always use `it`.

## Rule details

When `test` is preferred, this rule triggers a warning for any instances of `it`.
When `it` is preferred, this rule triggers a warning for any instances of `test`.

This rule is not set by default.

### Default configuration

The following pattern is considered warni

[2017-11-11 06:48] SimenB commented on #12
Good idea! Should also be autofixable. Would you send a PR for it? 🙂

Couple of q's:
- What should the default be?
- Should we allow config to differentiate between an `it` within a `describe` and by itself at the top level?

[2017-11-19 23:04] ai commented on #3
I found 21.3 release and it was hard to find what feature was added

[2017-11-19 23:11] hally9k opened #17 "Padding between it and describe blocks."
I have been looking for a rule to enforce padding around all `it` and `describe` blocks. Is this the correct place for that? Maybe `jest/padding-it-blocks` and `jest/padding-describe-blocks` rules?

[code]

[2017-11-21 08:01] thymikee commented on #17
I'm not sure if we want to add any styling preferences.

[2017-11-21 08:32] SimenB commented on #17
I agree that styling at this level is not something we want. `it` vs `test` is also styling, but makes more sense (#12).

@hally9k would https://eslint.org/docs/rules/padded-blocks work for you?

[2017-11-21 20:30] louy opened #18 "Prevent async `describe`"
Thanks for this great plugin!

A mistake I've seen some people make is using an async function for `describe`, which then makes jest fail silently for a case like the following:

[code]

It would be nice to have a rule that prevents this. Same would go for returning a promise (or any other value) inside `describe`.

[code]

What do you guys think?

[2017-11-22 01:00] SimenB commented on #18
I think this makes sense. We should also check for a `done` callback in `describe`-blocks.

(Anecdotally the first eslint rule I ever wrote: https://github.com/tlvince/eslint-plugin-jasmine/blob/master/lib/rules/no-suite-callback-args.js)

[2017-11-24 15:18] SimenB opened #19 "Create `prefer-to-*` rules for `jest-extended`"
There are a bunch of specific rules in https://github.com/jest-community/jest-extended which can be preferred.

I suggest we have rules suggesting their use. So e.g `toBeFalse()` over `toBe(false)` etc.

Should be clear in the docs that they are only if you use `jest-extended`.

/cc @mattphillips

[2017-11-24 15:31] #3 closed

[2017-11-24 15:31] SimenB commented on #3
Also see https://github.com/jest-community/eslint-plugin-jest/releases

[2017-11-25 09:10] mattphillips commented on #19
Hey @SimenB interestingly I started a new project to do this a week or so ago but haven’t had time to work on it. Check it out here: https://www.github.com/mattphillips/eslint-plugin-jest-extended I was planning on moving it to jest-community once id published it. I’m happy for it to live as part of this plugin though :)

[2017-11-25 09:14] SimenB commented on #19
IMO it's fine to have it as one plugin, as long as it's clearly stated in the docs that the matchers are not part of Jest core.

/cc @thymikee @orta @jkimbo @rogeliog  thoughts?

[2017-11-25 10:00] thymikee commented on #19
Hm, I don't know, with separate plugin we can just do:
[code]
and have rules easily distinguishable.

[2017-11-25 10:04] SimenB commented on #19
I was thinking of sharing some utils such as

[code]

And a bunch of other stuff. I suppose we can publish that as a separate thing though - seems useful for the jasmine plugin as well.

[2017-11-25 10:05] thymikee commented on #19
Or move both plugins to new monorepo `eslint-jest`?

[2017-11-25 10:05] SimenB commented on #19
Uuuh, yeah that might be the way forward

[2017-11-25 10:05] thymikee commented on #19
But that's just a lot of work with lerna setup probably 😄

[2017-11-25 10:07] SimenB commented on #19
Lerna setup isn't too bad. I also noticed that lerna has built-in conventional commit support now, so we could probably automate a bunch of stuff around it (and maybe bring those learnings back into jest core)

[2017-11-25 10:10] SimenB commented on #18
Also of course check for a return value within `describe`, and if it's `async`

[2017-11-25 10:10] thymikee commented on #19
That would be amazing

[2017-11-27 22:33] anescobar1991 opened #21 "New rule proposal: disallow large snapshots (no-large-snapshots)"
Hey all,

I've written a rule that I think would benefit the greater Jest community.

`no-large-snapshots` looks at all Jest snapshot files (files with `.snap` extension) and validates that each stored snapshot within those files does not exceed a certain number of lines (by default 35, though this is configurable and I am more than willing to change the default as is seen fit).

The reasoning for

[2017-11-27 22:37] thymikee commented on #21
I'm good with adding that, seems like a nice-to-have. Although I'd switch it off by default or increase the default value as it would be too painful 😄

[2017-11-27 23:00] anescobar1991 commented on #21
Great will open PR!

[2017-11-28 03:31] xfumihiro opened #22 "Proposal: Rules Table"
Would be nice if we have a table like [this](https://github.com/pke/eslint-plugin-redux-saga):

![screen shot 2017-11-28 at 11 28 55 am](https://user-images.githubusercontent.com/12194969/33301188-5a68c0a8-d42f-11e7-89ac-36d58205583b.png)

[2017-11-28 08:58] SimenB commented on #22
Ooooh, I like it. Wanna send a PR for it? 🙂

[2017-11-28 09:00] xfumihiro commented on #22
Happy to!

[2017-11-28 10:20] #22 closed

[2017-11-29 07:32] SimenB commented on #17
Closing as we won't be adding it.

If you create a plugin for it, we could link to it 🙂

[2017-11-29 07:32] #17 closed

[2017-12-04 20:54] SimenB commented on #21
Fixed in #24, released in 21.4.0. Thanks!

[2017-12-04 20:54] #21 closed

[2017-12-04 22:16] alexlrobertson opened #28 "False positives for `prefer-to-be-undefined`"
[code]

I'm getting false positives for expectations that compare to object and array literals.

[2017-12-04 22:36] alexlrobertson opened #29 "Unhandled error with `prefer-to-be-null`"
My linter crashes occasionally when using `prefer-to-be-null` with an expectation without a value.

[code]

[code]

[2017-12-05 07:23] #28 closed

[2017-12-05 07:23] #29 closed

[2017-12-05 07:34] SimenB commented on #29
Fixed in v21.4.1, thanks for the report!

[2017-12-14 05:40] ecbrodie opened #35 "Add support for spyOn() as a valid global"
I am trying to use the `spyOn()` method in my Jest tests. Although this is a valid global Jest function, it is still causing the following ESLint error:

[code]

I have followed the instructions to setup this plugin, including installing it as a devDependency, adding "jest" to my eslintrc plugins and adding "jest/globals" to the `env` object. ESLint still throws an error. I even tried extending "p

[2017-12-14 07:49] thymikee commented on #35
Global `spyOn` is not Jest, it's a part of Jasmine. Use [`jest.spyOn()`](https://facebook.github.io/jest/docs/en/jest-object.html#jestspyonobject-methodname)

[2017-12-14 07:49] #35 closed

[2017-12-15 06:39] scriptdaemon opened #37 "Include globals and 'jest' plugin in recommended"
I propose that the following be added to the "recommended" config option:

[code]

That way, when extending the recommended settings, a user does not have to include these manually. Both `eslint-config-standard` and `eslint-plugin-vue` (and probably others) do this as well. I'll submit the PR if this proposal is accepted.

[2017-12-15 07:00] SimenB commented on #37
React plugin does it as well, so I'm +1. PR welcome 🙂

[2017-12-15 07:22] #37 closed

[2017-12-26 19:47] giodamelio opened #40 "Add rule to require assertion count assertion"
I always try to add a [`expect.assertions(<number of assertions>)`](https://facebook.github.io/jest/docs/en/expect.html#expectassertionsnumber) call to the top of every test I write. It helps me keep track of the assertions I am using, and prevents accidental adding and removing of assertions.

I was thinking a rule that requires that assertion for every test would be nice. There is also [`expect.

[2017-12-27 18:33] SimenB commented on #40
I think that's a great idea!

PR very much welcome 🙂

[2017-12-29 15:13] mattphillips commented on #40
Hey @giodamelio if you are using babel with Jest then check out [babel-jest-assertions](https://github.com/mattphillips/babel-jest-assertions) it automates the process of adding `expect.assertions(<number of assertions>)` and `expect.hasAssertions()` to each of your tests.

[2017-12-29 19:52] giodamelio commented on #40
That's neat, but it kinda defeats the purpose of why I use them. I want
them as a double check for if I accidentally add or remove asserts.

On Fri, Dec 29, 2017, 07:13 Matt Phillips <notifications@github.com> wrote:

[2017-12-30 09:39] tushardhole opened #41 "Lint rule to indicate missing return staement when testing inside promise then or catch block."
**[PORTING THIS ISSUE [FROM](https://github.com/facebook/jest/issues/4843) JEST REPO]**

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
It is mentioned in the [jest docs](https://facebook.github.io/jest/docs/en/tutorial-async.html) to return a promise when you want to test inside its then or catch block. In case, if a developer misses to add a

[2017-12-30 10:01] tushardhole commented on #41
ported this [PR](https://github.com/jest-community/eslint-plugin-jest/pull/42) for this issue from jest repo.

[2017-12-31 05:58] tushardhole commented on #40
@SimenB @giodamelio As this is labeled as `help wanted`. If allowed, I would be happy to work on a PR for this  :smile:

[Here is some](https://github.com/tushardhole/eslint-plugin-jest/commit/b9cd260e483f8d9c343541fea8f3555393afe208) initial work I did.

[2017-12-31 06:00] giodamelio commented on #40
Go for it, I was going to take a crack at it but things got busy this
weekend. I'll be looking forward to it.

On Sat, Dec 30, 2017, 21:58 tushardhole <notifications@github.com> wrote:

[2018-01-02 06:50] tushardhole commented on #40
Created a PR [here](https://github.com/jest-community/eslint-plugin-jest/pull/43/)
Looking forward for feedback !

[2018-01-04 23:51] nickmccurdy opened #44 "Environment key "jest/globals" is unknown"
I couldn't use `{ "jest/globals": true }` as recommended in the readme, so I'm using the built in Jest env with `{ "jest": true }`.

## Config
[code]

## Dependencies
[code]

[2018-01-05 08:50] pauloborges commented on #44
I believe ESLint processes the configuration file as it reads it, so try declaring the `env` block after the `extends` block.

[2018-01-05 08:54] nickmccurdy commented on #44
I'm still seeing this error after swapping the order.

[2018-01-05 09:01] pauloborges commented on #44
I completely misread your code, sorry. If you're extending from the recommended jest plugin (instead of just using the plugin), you shouldn't need to explicitly declare `jest/globals`, since it is already declared by the recommended configuration:

https://github.com/jest-community/eslint-plugin-jest/blob/master/index.js#L21

[2018-01-05 09:28] nickmccurdy commented on #44
I didn't notice that, thanks! Removing the Jest env fixed it.

[2018-01-05 09:28] #44 closed

[2018-01-09 04:57] ismail-syed opened #46 "Enforce it block to begin with lower case test decription"
Some projects prefer that descriptions in `it` blocks beginning with lowercase letters. Is this something that can be enforced as a rule in `eslint-plugin-jest`

eg:

The following patterns are considered warnings:
[code]

These patterns would not be considered warnings:
[code]

[2018-01-09 07:55] SimenB commented on #40
Fixed in #43, released in 21.6.0

[2018-01-09 07:55] #40 closed

[2018-01-09 08:05] SimenB commented on #46
I see no reason not to have a rule for this. @thymikee thoughts?

[2018-01-09 08:09] thymikee commented on #46
Makes sense, just don't make it recommended/default 😄

[2018-01-09 14:54] SimenB commented on #40
Docs released in 21.6.1

[2018-01-13 15:35] SimenB opened #54 "Assert that async `expect`s are awaited or returned"
`valid-expect` should check that if there's a `rejects` or `resolves` on an `expect`, that it's either `await`ed or `return`ed.

Example where we should warn:

[code]

[2018-01-17 14:44] SimenB commented on #41
Fixed in #42

[2018-01-17 14:44] #41 closed

[2018-02-03 18:39] macklinu commented on #18
I'm interested in contributing this feature - will open a PR for discussion on a WIP implementation.

[2018-02-03 18:55] macklinu commented on #12
I think that could be nice.

When using `describe()`, I prefer using only `it()`.

[code]

When not using `describe()`, I prefer using only `test()`.

[code]

I've worked in codebases that have done one or the other, so being able to configure this could help ensure consistency in those codebases.

[2018-02-09 15:01] #18 closed

[2018-02-09 15:06] macklinu opened #61 "valid-describe: warn if first argument is a function"
From https://github.com/jest-community/eslint-plugin-jest/pull/57#discussion_r167249781

Report in the `valid-describe` rule for the following case:

[code]

[2018-02-09 15:15] SimenB commented on #61
Also see https://github.com/facebook/jest/issues/5493

[2018-02-09 17:20] macklinu commented on #61
I'll open a PR for this.

[2018-02-09 17:34] brianlmacdonald commented on #61
Can I call dibs on this?

[2018-02-09 17:42] macklinu commented on #61
@brianlmacdonald go for it - thanks!

I noticed that the `valid-describe` rule falsely reports this as valid:

https://github.com/jest-community/eslint-plugin-jest/blob/5e01e6b2caa7205ab4f5537ab33ce81feff4dad7/rules/__tests__/valid-describe.test.js#L14

when I believe that `describe()` always requires two parameters (`name: string, fn: Function`), which is something I missed in #57.

If you're fee

[2018-02-09 18:20] macklinu commented on #12
I'm not sure what the default should be here. :thinking: Does a rule need a default, or could we force an option to be provided? (Perhaps that's not a best practice of ESLint rules?)

The enum option I imagine with an example `.eslintrc` usage:

* `test`: all tests must use the `test()` function
* `it`: all tests must use the `it()` function
* `describe/it`: all tests must use the `it()` function

[2018-02-09 20:58] #7 closed

[2018-02-10 12:14] SimenB commented on #12
I would like to force top level to be `test` and for all nested within `describe` to be `it`.

Not sure how to best formulate that.

Feel free to send a PR, might be easier to decide once we have some code to look at 🙂

[2018-02-10 12:30] ranyitz commented on #12
@dylang I really like the idea 😀
@macklinu In case you're busy or anything I can also take this.

[2018-02-10 14:17] macklinu commented on #12
@ranyitz if you're interested in picking this up, that's cool with me! I hacked on it a little bit yesterday, mostly out of curiosity for how to implement a fixer for a rule.

I pushed up https://github.com/macklinu/eslint-plugin-jest/commit/76acf1f424c74b37996eb3b60e9bf78c6f1aaf37, which handles renaming `it()` to `test()` and vice versa based on which option you provide. It doesn't ensure `test(

[2018-02-10 15:27] SimenB opened #63 "Discourage `f` or `x` prefix on specs"
Instead of doing `fit`, `xit` etc, one should do `it.only` and `it.skip`. Same for `describe`.

Should also be fixable

[2018-02-10 15:55] ranyitz commented on #63
I can also take this issue as it closely related to #12

### name suggestions:
1. `prefer-only-skip`
2. `no-fx-prefix`

[2018-02-10 16:06] SimenB commented on #63
I like the first one :) @thymikee?

[2018-02-10 16:08] SimenB commented on #12
`consistent-test-it` is a good name

[2018-02-10 16:11] macklinu commented on #12
Yeah either that or `consistent-test-name` sounds good to me. 👍

@SimenB are you thinking there should only be two options?

* `test` - enforce `test()` calls at the top level and fix `it()` to be `test()`
* `it` - enforce `it()` calls and fix `test()` to be `it()`; also enforce `it()` calls to be included within a `describe()` block

Or should we split the `it` option into `it` and `describe/it`?

[2018-02-10 16:15] SimenB commented on #12
I think 3 options makes sense. Can be an object instead of a single string as well. `{ fn: 'test', withinDescribe: 'it'}` or something

[2018-02-10 21:00] brianlmacdonald commented on #61
Hey @macklinu, I added the appropriate warnings and tests-- the messages are as follows [message: 'First argument must be name', 'message: 'Describe requires name and callback arguments'']. Happy to change them to any house style verabe if you'd rather before I put in the PR.

Also, I'm not familiar with husky or commitmsg-- can you tell me what these warnings are referring too so I can fix them?

[2018-02-10 21:08] SimenB commented on #61
The commit message must follow the form of "feat: some added feature". We use these semantic commits to publish from CI.

See http://karma-runner.github.io/2.0/dev/git-commit-msg.html

[2018-02-10 21:18] brianlmacdonald commented on #61
Ok, thanks!

[2018-02-10 21:37] thymikee commented on #63
@SimenB yup, I'm on your side on this :)

[2018-02-11 16:49] SimenB opened #68 "Warn about tests not run by jest"
Ava has a cool rule called [`no-ignored-test-files`](https://github.com/avajs/eslint-plugin-ava/blob/master/docs/rules/no-ignored-test-files.md). It would be great if we could port it.

It won't be as easy for us since we use globals. But looking for either `describe`, `test` or `it` which are _not_ imported in any file not matched by Jest's `testMatch` (and the other ways of configuring where jes

[2018-02-11 20:32] ranyitz opened #69 "Considering adding codecov integration"
What do you say about adding [codecov](https://codecov.io/) integration?
It would be nice to know the coverage changes for each PR.

[2018-02-11 20:46] SimenB commented on #69
Yeah, we should set this up. @thymikee preferences on service?

Also see #67

[2018-02-11 20:51] #12 closed

[2018-02-11 20:54] thymikee commented on #69
Maybe we could use Danger to read the coverage saved as artifact? Some reference (but without Danger): https://github.com/callstack/linaria/pull/200
Anyway I'm good with reporting coverage in PRs.

[2018-02-11 21:11] SimenB commented on #69
Yeah, that'd be cool!

@orta is there a danger plugin for code coverage? 😀

[2018-02-11 23:01] macklinu opened #72 "New rule request: no-hooks"
[eslint-plugin-mocha](https://github.com/lo1tuma/eslint-plugin-mocha) has a rule called [`no-hooks`](https://github.com/lo1tuma/eslint-plugin-mocha/blob/master/docs/rules/no-hooks.md) that I think could be a good addition to this ESLint plugin. I think the [`mocha/no-hooks` docs](https://github.com/lo1tuma/eslint-plugin-mocha/blob/master/docs/rules/no-hooks.md) as well as [this tweet](https://twit

[2018-02-11 23:07] macklinu commented on #69
I don't believe there is a code coverage Danger plugin, but there is an open issue for danger-plugin-jest to support posting code coverage (https://github.com/macklinu/danger-plugin-jest/issues/26).

If this is something that can be added to this repo's dangerfile and transferred over to danger-plugin-jest, or if anyone is interested in contributing a PR to danger-plugin-jest to resolve this, that

[2018-02-12 07:27] SimenB commented on #72
Yeah, this sounds like a reasonable rule! PR most welcome 🙂

[2018-02-12 07:32] thymikee commented on #72
I think @thejameskyle will like it 😅
Re: https://twitter.com/thejameskyle/status/954906997169664000

[2018-02-12 15:02] macklinu opened #73 "Refactor util.js"
Various rule files consume `util.js` by requiring the file multiple times:

https://github.com/jest-community/eslint-plugin-jest/blob/38f8ca072c5decacbd7c72882863e51426a4de0e/rules/prefer-to-have-length.js#L2-L6

I'm wondering if we could clean this up, either by how we require the files, or how we organize these util methods. Some options I can think of:

[code]

or:

[code]

I also wonder if we

[2018-02-12 15:23] macklinu commented on #72
I will look to contribute a PR for this today. 🌴

[2018-02-12 21:30] #72 closed

[2018-02-12 21:39] #63 closed

[2018-02-12 21:44] SimenB commented on #73
I like doing `util.method()`. We can destructure after we drop node 4 support (which we should do once it's EOL. I wanna bump peer dep on eslint to 4.15 so we can start using `messageId` as well, so a couple of breakages line up nicely).

Anyways, what I would _really_ like though is to be able to give a `CallExpression` (or whatever) to a `util.parse` or something, and get a nice object back.

[c

[2018-02-12 22:18] #46 closed

[2018-02-13 02:48] nevir opened #75 "valid-describe blows up on template strings (backticks)"
I have a pattern where I prefer backticks for test/describe names (makes apostrophes easier to juggle, and helps call out strings that are user-visible vs those that aren't)

However, `valid-describe` blows up on 'em:

[code]

[2018-02-13 03:04] nevir opened #76 "Addition: lowercase-name only for tests"
It'd be helpful to allow uppercase names for describes (e.g. subjects - `ClassName`, etc), while still enforcing lowercase test titles

[2018-02-13 03:20] macklinu commented on #75
Thanks for the bug report - I'll open a PR to address this case in `valid-describe`. 👍

[2018-02-13 03:32] macklinu commented on #76
We could provide an option that allows for ignoring the check for `describe()`.

[code]

I'm also wondering if `lowercase-name` should check `describe()` at all, or if only checking `it()` and `test()` is more valuable. 🤔

[2018-02-13 04:03] nevir commented on #76
There's also advice like "don't start test descriptions with 'should'" and
similar things.

Idea: what if there's an option to provide a regex (or multiple) that can
be used to validate tests (and a similar option for describes)?

On Mon, Feb 12, 2018, 7:32 PM Macklin Underdown <notifications@github.com>
wrote:

[2018-02-13 07:46] #75 closed

[2018-02-13 07:47] SimenB commented on #75
@nevir The fix should be available within 5 minutes 🙂

[2018-02-13 07:48] SimenB commented on #76
I like the idea of a regex (and an `ignore` array). PR welcome for both!

[2018-02-13 08:13] nevir commented on #75
Nice turnaround time!

On Mon, Feb 12, 2018, 11:47 PM Simen Bekkhus <notifications@github.com>
wrote:

[2018-02-13 15:15] macklinu commented on #76
This code introduced in #74 could be a starting point for introducing an `ignore` option to the `lowercase-name` rule.

https://github.com/jest-community/eslint-plugin-jest/blob/47eb6c27c45f5b9207c37a18dd5d40d46d0943d8/rules/no-hooks.js#L30-L35

[2018-02-13 15:46] macklinu commented on #73
I like the idea of a `util.parse()` function. I want to keep it in mind as I'm working in this codebase to see how we can extract current functionality into a function like this.

[2018-02-13 15:50] macklinu commented on #54
I'm going to give this one a try today.

[2018-02-13 16:45] macklinu commented on #54
Some questions about `await` syntax - is this valid?

[code]

[2018-02-14 08:31] SimenB commented on #54
Nope, correct there is no `resolves` as it's already awaited

[2018-02-14 17:43] macklinu commented on #61
Resolved in #65. Closing.

[2018-02-14 17:43] #61 closed

[2018-02-16 15:35] macklinu opened #81 "New rule: no-async-without-await"
A follow up to the discussion in https://github.com/jest-community/eslint-plugin-jest/pull/78#discussion_r167959193, it could be nice to have a rule like Ava's [`no-async-fn-without-await`](https://github.com/avajs/eslint-plugin-ava/blob/master/docs/rules/no-async-fn-without-await.md).

[2018-02-16 20:42] raulmt opened #83 "Are you open to support `context` as `describe` alias?"
Up until around 1 year ago, `context` was an officially supported `describe` alias, but later [got removed](https://github.com/facebook/jest/issues/2468). Still, because of its value, some people (myself included) still want to use it, and as explained on that issue [it's very easy to add it back](https://github.com/facebook/jest/issues/2468#issuecomment-269718083).

Unfortunately, it's not compat

[2018-02-17 12:25] SimenB commented on #83
I'm open to a PR allowing aliases for the globals 🙂

This is possible, see https://eslint.org/docs/user-guide/configuring#adding-shared-settings

[2018-02-17 18:44] SimenB opened #86 "Get to 100% test coverage"
In #67 thresholds were added, but I was unable to set them at 100 as we don't have coverage. Help reaching it would be greatly appreciated!

[2018-02-19 15:13] raulmt commented on #83
Thanks @SimenB . I'l give the PR a try then :)

And good to know about the shared settings!

[2018-02-21 22:01] SimenB commented on #86
With #88 we're getting really close! Only a couple of branches left

[2018-02-22 08:23] tushardhole commented on #86
@SimenB I will look into missing branch coverage for valid-expect-in-promise.js

[2018-02-22 08:53] tushardhole commented on #86
@SimenB I will also check remaining files for 100% coverage.

[2018-02-22 10:02] tushardhole commented on #86
Created PR [here](https://github.com/jest-community/eslint-plugin-jest/pull/89)

[2018-02-22 11:50] SimenB commented on #86
Woo! ❤️

[2018-02-22 11:50] #86 closed

[2018-02-22 11:50] SimenB commented on #69
As we now have 100% coverage, CI will fail if it dips. Could still be nice with an integration, though

[2018-02-25 21:58] SimenB opened #90 "Add rule disallowing importing `jest`"
See https://github.com/facebook/jest/issues/4613, this is apparently a footgun.

We might take it one step further an yell at all assignments to a `jest` object as it might mess up static analysis, thus negating hoisting of `jest.mock`?

But at least a rule for not importing `jest` (as it doesn't export anything) makes sense.

[2018-02-27 12:44] chapati23 opened #91 "Error "Could not find documentation file for rule consistent-test-it" since 21.12.2"
I had to pin this plugin to `21.12.1` because since `21.12.2` i'm getting the following error:

<img width="1137" alt="screen shot 2018-02-27 at 13 43 10" src="https://user-images.githubusercontent.com/117495/36729397-5085b32a-1bc4-11e8-9b2f-9960243655e7.png">

Would like to be of more help but TBH I'm stabbing pretty much in the dark here :-/

The answer must be somewhere in here: https://github.

[2018-02-27 15:08] SimenB commented on #91
Huh, I was so sure test coverage would catch this. On it!

[2018-02-27 15:13] SimenB commented on #91
@chapati23 I'm unable to reproduce this... Clean installing and running `node -p "require('eslint-plugin-jest').rules['consistent-test-it'].meta.docs.url"` prints a correct link

[2018-02-27 19:37] lionize commented on #76
I submitted a PR to add the `ignore` option for this rule. I started to do some work on regex but it doesn't really feel like the description message regex belongs in the `lowercase-name` rule. Thoughts?

[2018-02-27 20:47] nevir commented on #76
maybe rename the rule to `name`, `naming-style` or something along those lines?

[2018-02-27 21:18] oieduardorabelo commented on #91
we're facing the same problem here too, I'll try to change the plugin position in ESLint to see if there's any difference:

**package.json:**

[code]

**.eslintrc.js**:

[code]

output:

![output](https://user-images.githubusercontent.com/829902/36755307-adee610e-1c70-11e8-8b72-4f0a0766953b.png)

[2018-02-28 09:36] SimenB commented on #76
Renaming it is a breaking change... We have a few breaking changes lined up anyways, so not a blocker. Worth it, though?

[2018-02-28 18:29] brianlmacdonald commented on #90
@SimenB can I take this one?

[2018-02-28 18:39] SimenB commented on #90
Go for it! 🙂

[2018-02-28 22:54] nevir commented on #76
Unsure!  could maybe duplicate it into the new name & deprecate old, if you want a smoother transition (but a bit more annoying to maintain)

[2018-03-01 03:29] lionize opened #93 "valid-describe throws an error with empty arguments"
`describe()` causes an error when checking `node.arguments[0]` attributes.

[2018-03-01 16:33] sheats commented on #91
I just hit this issue as well.  Reverting to 21.12.1 fixed the problem.  Let me know if I can provide more info that would help debugging it.

[2018-03-01 16:35] SimenB commented on #91
Are you able to set up a repo demonstrating the error? I'm unable to reproduce it...

[2018-03-01 19:38] sheats commented on #91
Tried to reproduce in a small repo but no luck.

Dug into it some more and basically the docs directly was just totally missing in node_modules/eslint-plugin-jest/.  Turns out I had "docs" in my .yarnclean file so naturally that was the problem :-)

It was in there from the RAN framework/boilerplate that I'm using: https://github.com/Sly777/ran/blob/master/.yarnclean#L8

Not sure how common that m

[2018-03-01 20:48] oieduardorabelo commented on #91
I can confirm the finds @sheats mentioned. After deleting my `.yarnclean` file, it works well.

For me, isn't only the `doc` / `docs` folder. Seems is something else!

The new version, `eslint-plugin-jest@21.12.2`, is working correctly, is Yarn messing up with `node_modules`.

[2018-03-01 21:05] oieduardorabelo commented on #91
aha! found the issue, in my `.yarnclean` we're removing all `*.md` files,

I just added:

[code]

and everything is working fine!

[2018-03-02 06:12] SimenB commented on #91
Oh, I didn't even know `.yarnclean` was a thing :P

@thymikee thoughts here? It's really useful to throw for our tests sake, but errors like these are bad.

[2018-03-02 06:17] SimenB commented on #91
I'll add that yarn docs says not to use it unless necessary, so why a boilerplate includes it is beyond me.

https://yarnpkg.com/lang/en/docs/cli/autoclean/

[2018-03-02 06:17] SimenB commented on #91
@chapati23 is this the same issue you have?

[2018-03-02 07:15] thymikee commented on #91
@SimenB can we run these checks only when in test environment?

[2018-03-02 23:42] ranyitz commented on #91
I agree that this logic should remain in the test phase.

I've added a PR (#96) that moves this logic to test, so it won't throw any errors for users, and will still verify that there is a corresponding doc for each rule.

@SimenB @thymikee
What do you think?

[2018-03-05 16:33] #90 closed

[2018-03-09 21:02] alexilyaev opened #98 "Missing `no-jest-import` from the Rules table in README.md"
Maybe even make it recommended.

[2018-03-10 00:25] ranyitz commented on #98
@alexilyaev Yes, seems that it does missing, I've opened a PR that fixes that #99.

Regarding it being `recommended` and the error level, I think it should be `recommended` with error level `warn`, what do you think @SimenB ?

[2018-03-10 03:55] kentor opened #100 "New rule prefer-to-contain"
Prefer `expect(a).toContain(b)` rather than `expect(a.includes(b)).toBe(true)`.

The error messages are often times better.

This rule is similar to `prefer-to-have-length`.

[2018-03-10 08:24] thymikee commented on #100
Seems like a nice rule to add!

[2018-03-10 16:56] brianlmacdonald commented on #68
Can I give this a shot?

[2018-03-10 18:08] SimenB commented on #68
Yeah, go for it!

[2018-03-10 18:09] #98 closed

[2018-03-10 18:17] SimenB commented on #98
:tada: This issue has been resolved in version 21.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-13 19:53] #93 closed

[2018-03-13 20:01] SimenB commented on #93
:tada: This issue has been resolved in version 21.14.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-14 23:56] #76 closed

[2018-03-14 23:57] SimenB commented on #76
This should be covered by the new option, agreed @nevir?

[2018-03-15 00:02] SimenB commented on #76
:tada: This issue has been resolved in version 21.15.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 19:30] mallorybulkley opened #102 "error when extending from recommended"
After adding `plugin:jest/recommended` to my eslintrc "extends", get this error in prefer-to-have-length:

[code]

[2018-03-22 19:43] ranyitz commented on #102
Hey @mallorybulkley, can you provide a repro?

[2018-03-26 18:15] trevordmiller commented on #102
@ranyitz I'm getting this as well with latest `eslint-plugin-jest` (`^21.14.1`) and an `.eslintrc` with:

[code]

[2018-03-26 18:27] ranyitz commented on #102
@trevordmiller can you give a path to the recreation of the issue, or a github repo that I can install and reproduces this bug?

[2018-03-26 18:28] trevordmiller commented on #102
@ranyitz `eslint --init` and add `"extends": ["airbnb", "plugin:jest/recommended"]` :)

[2018-03-26 19:34] trevordmiller commented on #102
Could be related to `airbnb`? @mallorybulkley could you provide your reproducing repo?

[2018-03-27 00:14] mallorybulkley commented on #102
I think either my version of eslint wasn't compatible or possibly something was wrong with having different versions installed globally vs in my project. I was able to fix by uninstalling my global eslint and eslint-plugin-jest and upgrading the versions in my project repo to the latest.

[2018-04-03 13:55] dmiller9911 opened #103 "New Rule named-snapshot"
I was wondering if this repo would be open to a rule to enforce naming of snapshots.  Options would be `always | mutli | never`
* **always** - Enforce naming of snapshots even if there is only a singular snapshot.
* **multi** - Enforce naming only if there are multiple snapshots in a test. naming from [curly rule](eslint-plugin-jest)
* **never** - Disallow naming of snapshots

I would be more than

[2018-04-03 22:25] SimenB commented on #103
Yeah, I don't mind a rule for this.

Keep https://github.com/facebook/jest/issues/5847 in mind when implementing

[2018-04-08 12:58] alexilyaev commented on #81
Is this what you mean?
https://eslint.org/docs/rules/require-await

[2018-04-08 13:07] alexilyaev opened #104 "New Rule: Prefer mock resolved/rejected shorthands"
Refs:

- https://facebook.github.io/jest/docs/en/mock-function-api.html#mockfnmockresolvedvaluevalue
- https://facebook.github.io/jest/docs/en/mock-function-api.html#mockfnmockresolvedvalueoncevalue
- https://facebook.github.io/jest/docs/en/mock-function-api.html#mockfnmockrejectedvaluevalue
- https://facebook.github.io/jest/docs/en/mock-function-api.html#mockfnmockrejectedvalueoncevalue

[2018-04-09 02:32] SimenB commented on #104
Yeah, sounds good!

[2018-04-18 04:38] SimeonC opened #105 "Bug with valid-describe"
I found this bug when converting some tests from another repo.

Sample test:
[code]
Will cause the following error:
[code]

[code]

[2018-04-18 05:16] SimenB commented on #105
Thanks for the report and the minimal reproduction!

[2018-04-19 01:32] bunnymatic opened #107 "`no-identical-title` maybe could be ignored for nested `describe` blocks...?"
My scenario is that the linter is whining about `no-identical-title`s for nested describes where that nested title is actually what i want.

Imagine this:
[code]

In this case... the linter doesn't like `when the sun is up` and `when the sun is down` because they are the same, but as nested describes, they seem like a valid use case.

What do you think of that?  could there be a rule that looks at

[2018-04-19 06:37] SimenB commented on #107
That definitely makes sense! We should try to match against full names (so `my component > west facing > when the sun is up > sees the sun`) and not against `describe`s and `it`s in isolation.

Not sure how hard that is, but PR welcome!

[2018-04-19 10:36] ranyitz commented on #107
@bunnymatic @SimenB The linter would not raise an error on the provided code, because `when the sun is up` & `when the sun is down` are nested under different describe blocks.

The message can be confusing though,

https://github.com/jest-community/eslint-plugin-jest/blob/03a7cdab01fac29550345bb952e1fb5ca70f05e5/rules/no-identical-title.js#L30

I would change it to be `describe block title is used

[2018-04-19 15:32] bunnymatic commented on #107
You are totally right.  I had some deep nesting in my actual code which made me think this was the issue.  But as you point out, it's because we have 2 blocks in the same describe with the same sub title.  Sorry to bug you.

Definitely the messaging might be a little better to indicate describe titles vs test titles.  But it is working as expected.

Sorry to bother you.  And thanks for the quick r

[2018-04-19 15:37] SimenB commented on #107
Ah, ok. Cool!

@ranyitz PR improving the message very much welcome 🙂

[2018-04-19 17:02] ranyitz commented on #107
@SimenB gladly #108 😄

[2018-04-19 18:03] bunnymatic commented on #107
I'll see what i can do

[2018-04-19 18:52] SimenB commented on #107
I'm thinking this can be closed after #108. Happy to reopen if you disagree, @bunnymatic.

And PRs are of course welcome to improve it even more! 🙂

[2018-04-19 18:52] #107 closed

[2018-04-20 15:38] bunnymatic commented on #107
Fine with me!

[2018-04-23 12:24] robcresswell opened #109 "[new rule] prefer toHaveBeenCalledTimes()"
This is a new rule suggestion; it would be nice to enforce `toHaveBeenCalledTimes()` over `toHaveBeenCalled()`, to ensure functions are only being executed a set amount of times. It's unlikely making this fixable would be useful, as we would have to make an assumption about the number of times, which could well be incorrect.

I'm happy to make a PR to support this, but don't have a definite timefr

[2018-04-23 12:36] SimenB commented on #109
I think that's a great idea!

It would also be cool to fix thing like `expect(someMock.mock.calls.length).toBe(3)` into `expect(someMock).toHaveBeenCalledTimes(3)`, but it might give some false positives?

[2018-04-23 12:50] robcresswell commented on #109
That's a good idea, I hadn't thought of that. I can't think of any examples of how that would cause a false positive off the top of my head, but thats only off a couple thousand lines of experience so hardly a big sample. If nobody beats me to it, I'll have a go at writing the rule out. Should get time tomorrow evening.

[2018-04-23 13:00] SimenB commented on #109
e.g.:

[code]

Not sure how realistic that is, though.

[2018-05-03 15:23] dylang opened #112 "[new rule] no jest.clearAllMocks"
When using the jest config option [clearMocks: true](https://facebook.github.io/jest/docs/en/configuration.html#clearmocks-boolean), mocks are cleared automatically before each test. This means using `jest.clearAllMocks();` is not necessary, so it can be removed.

[2018-05-11 13:42] GeorgeTaveras1231 commented on #35
@thymikee since Jest supports the global `spyOn` it seems wrong for `eslint-plugin-jest` to not support it.

Unless theJjest developers want to deprecate the global `spyOn`, in which case, the warnings should be coming from jest, not from `eslint-plugin-jest` 🤔

[2018-05-11 13:43] thymikee commented on #35
@SimenB wdyt?

[2018-05-11 13:59] GeorgeTaveras1231 commented on #35
I've also found that there are behavioral differences between `spyOn` and `jest.spyOn`.

In my test, I initially had:

[code]

Which worked fine.

After changing it to use the `jest` global, it stopped working
[code]

This would yield the `JSDOM` error:

[code]

To fix this, I had to explicitly mock the implementation of the spy:

[code]

### Conclusion
It seems like `spyOn` automatically mocks th

[2018-05-11 14:48] SimenB commented on #35
Using `spyOn`, `pending`, `fail` etc is not really supported.

That said, I'd be happy to have a rule saying "don't use jasmine globals", whilst adding this to our list of globals

[2018-05-22 06:50] SimenB commented on #112
Sure, we could probably have a rule for this. The same applies for a few other things, which should be covered at the same time: https://github.com/facebook/jest/blob/6fe69d1467c329f872ab85b7325e7908796b35d0/packages/jest-jasmine2/src/index.js#L79-L99

[2018-05-23 10:16] eddiesholl opened #113 "[new rule] strict formatting for describe and test blocks"
We would really like to enforce some strict formatting for the various parts of jest test syntax. I'm not sure if these would be general enough to be considered useful, but they seem like a nice way to help ensure test code is nicely structured. An example of my teams desired syntax is:
[code]
Seperate rules could enforce:
- a blank line after describe level lets
- a blank line after a beforeEach

[2018-05-23 18:46] SimenB commented on #113
We landed on not including any formatting rules in #17. Then again, I don't really _mind_ them - they don't really hurt. And personally I really like organising tests into a when-given-then format, so I'd like rules like that.

Soooooo, PR welcome? :D

@thymikee holler if you disagree

[2018-05-23 18:49] #105 closed

[2018-05-23 18:56] SimenB commented on #105
:tada: This issue has been resolved in version 21.15.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.15.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-23 20:58] thymikee commented on #113
As long as it's not a default, I'm on board ;)

[2018-05-23 21:12] SimenB commented on #113
Yeah, agreed. Should not be part of `recommended`

[2018-05-25 14:12] jacekkopecky opened #114 "`require()` makes jest plugin crash"
Hi, as I was working, I had a stray `require()` in my code and it made ESlint crash badly; that probably shouldn't happen. Here's the most trivial example that illustrates that:

`simple.test.js`
[code]

`.eslintrc.js`
[code]

`package.json`
[code]

Stack trace:
[code]

[2018-05-27 08:31] #114 closed

[2018-05-27 08:38] SimenB commented on #114
:tada: This issue has been resolved in version 21.15.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.15.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-27 21:40] SimenB opened #118 "Make `lowercase-name` fixable"
Should be pretty straight forward, just call `fixer.replaceText` and `toLowerCase` on current value.

[2018-05-27 23:53] #118 closed

[2018-05-27 23:58] SimenB opened #121 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-28 00:02] SimenB commented on #118
:tada: This issue has been resolved in version 21.17.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.17.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-28 00:02] #121 closed

[2018-05-28 02:20] macklinu commented on #112
This seems like it could fall into one rule that would report unnecessary function calls based on Jest configuration (something like `no-unnecessary-configuration`, but not sure what a good name would be).

Would users opt-in by including the functions they want to report in their ESLint config?

[code]

Is this something that we could read the Jest config in the local repo and automatically figur

[2018-05-31 20:08] macklinu commented on #54
I closed #78 - this is open for someone to give another shot at resolving this issue. 👍

[2018-06-12 11:18] callumlocke commented on #54
This would be a great feature, would have saved me a lot of mistakes today.

It would be nice if it could also be configurable, to enforce one or the other syntax:

[code]

Personally I would want to configure it to allow only `await` (even in functions with just a single assertion) because it's more explicit. With implicit return it's more likely someone (me) might come along later and add braces

[2018-07-10 13:47] cwillwer opened #127 "Update eslint dependency to version 5.x"
The version of eslint that this package uses is 4.10.0, which was released in October, 2017. The latest version as of filing this issue is 5.1.0. There have been at least 9 updates to the 4.x version, so at a minimum it should be updated to the lastest 4.x release, though moving to the 5.x version would be preferred.

[2018-07-10 13:49] SimenB commented on #127
We only have a peer dependency, the 4.10 one is our own dev dependency. And the range of the peer dep should allow you to use whatever version you want 🙂

https://github.com/jest-community/eslint-plugin-jest/blob/2b55a863cd092537abc9c89992ccf379671a4322/package.json#L26-L28

Happy to reopen if I misunderstood!

[2018-07-10 13:49] #127 closed

[2018-07-10 14:51] yvele opened #128 "Manual extend without using "extends""
Unfortunately I cannot use the recommended `"extends": ["plugin:jest/recommended"]` method because I'm using glob override config and `extends` is not supported, see https://github.com/eslint/eslint/issues/8813

With **ESLint v4** that wasn't a problem I just did some "manual" extend like that:

[code]

The problem came with **ESLint v5** where I get the same error as https://github.com/jest-commu

[2018-07-10 14:54] yvele commented on #44
Note that I have the same error and I [cannot use the "extends"](https://github.com/eslint/eslint/issues/8813) solution, see https://github.com/jest-community/eslint-plugin-jest/issues/128

[2018-07-10 15:07] yvele commented on #128
Ok I found a workaround, instead of using

[code]

Which is the exact same as

[code]

I'm actually using

[code]

As described in https://eslint.org/docs/user-guide/configuring#specifying-environments

I let this issue open to make sure someone see it.. There maybe is a real problem.

Feel free to close

[2018-07-17 08:18] SimenB opened #130 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-17 20:42] #130 closed

[2018-08-14 08:38] SimenB commented on #54
I agree it would be best if we could enforce `await` over `.then` or `return`ing the promise

[2018-08-15 13:16] SimenB commented on #128
Note that the `jest` globals from eslint are not matching the ones we have in our own list.

Not sure why it doesn't work normally, though

[2018-08-24 13:48] corysimmons opened #141 "no-jest-import warns on fresh CRA eject"
- `npx create-react-app foo`
- `cd foo; npm run eject`
- `npm test` succeeds
- get warned that importing jest doesn't do anything so comment out `const jest = require('jest')` in `./scripts/test.js`
- `npm test` fails

Apparently it does do something? 🤷‍♂️

[2018-09-03 20:48] lsuarez-tiempo-dev opened #149 "a function named pending () triggered the 'no-disabled-tests' error"
I just read that pending is a jasmine global that allows you not run the test.
effectively disabling it.

Our code imports a value and then runs its it.
It appears the parser is confusing it with the jasmine global.
without being to careful with the syntax, This is basically what we're doing:
[code]

does this rule notice if you import the function before assuming you're using the jasmine global a

[2018-09-21 02:43] garyking opened #154 "Ensure toThrow always has a message"
Consider adding a new rule, which checks that `toThrow` always has one argument, to match the error's message.

This would have helped me a few times, when I used `toThrow` without any arguments, and it caught a general `TypeError`, etc. when instead I wanted it to catch a specific custom error.

[2018-09-21 05:41] SimenB commented on #154
Yeah, that makes sense! PR welcome 🙂

[2018-09-21 07:31] SimenB commented on #149
:tada: This issue has been resolved in version 21.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-21 22:14] macklinu opened #156 "[no-jasmine-globals] Verify Jasmine pending() global usage"
_Originally posted by @SimenB in https://github.com/jest-community/eslint-plugin-jest/pull/155#issuecomment-423440207_

This issue is a follow-up to check that the `no-jasmine-globals` rule doesn't have the same issues reported in #149.

[2018-09-25 22:12] macklinu commented on #154
As per [the docs](https://jestjs.io/docs/en/expect#tothrowerror), would also want to check that the `toThrowError()` alias is checked as part of this rule too.

[2018-09-29 18:37] #154 closed

[2018-09-29 18:43] SimenB commented on #154
:tada: This issue has been resolved in version 21.23.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.23.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-12 18:17] randycoulman opened #175 "[expect-expect]: Unable to allow methods in `assertFunctionNames`"
In testing the `expect-expect` rule on one of my projects, I found that it was reporting a number of tests that didn't have expect calls.  In these tests, I was using `td.verify` from [testdouble.js](https://github.com/testdouble/testdouble.js/) which verifies that a particular test double was called.

I attempted to use the `assertFunctionNames` option to configure `td.verify` as a known expect f

[2018-10-12 18:33] macklinu commented on #175
Thanks for reporting this issue with clear steps and a use case. It'd be good to consider a call expression with an object and property (like `td.verify`). 👍 PRs welcome from anyone, will try to take a look at this this weekend as well. 😄

[2018-10-13 23:08] macklinu commented on #175
I can push up a PR for this shortly.

[2018-10-14 10:42] #175 closed

[2018-10-14 10:49] SimenB commented on #175
:tada: This issue has been resolved in version 21.24.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.24.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-14 17:53] #100 closed

[2018-10-14 17:59] SimenB commented on #100
:tada: This issue has been resolved in version 21.25.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.25.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-23 17:08] fadookie opened #185 "[new rule] Disallow overwriting methods with jest.fn()"
I have seen a lot of my colleagues write code like this (based on many examples I've seen in the jest community):
[code]

The problem with overwriting methods on singleton/global objects like this is that jest has no way to restore the mock after the test completes. This can lead to test interactions and nasty heisenbugs due to how jest runs tests in parallel.

A better way is via `spyOn`, ex:
[co

[2018-10-23 17:15] SimenB commented on #185
Great idea!

[2018-10-26 11:13] Morikko opened #188 "no-focused-tests rule doesn't work on fit.each"
With `"jest/no-focused-tests": "error"` , the code `fit.each` is not linted as an error.

[2018-10-26 11:30] SimenB commented on #188
Good catch! Wanna send a PR for it? Should be very similar to the fix in #168

[2018-10-26 13:20] #188 closed

[2018-11-02 23:27] MickaelBergem opened #195 "jest/no-test-callback => TypeError: Cannot read property 'type' of undefined"
It looks like eslint crashes on a specific file in my project:

[code]

### Stacktrace:

[code]

### Versions

* eslint@5.8.0
* eslint-plugin-jest@21.26.2

### Eslint config

`yarn eslint --print-config server/poc.js` produces:

[code]

I also extend `plugin:jest/recommended` and `airbnb`.

Everything works perfectly well for the other files.

Let me know if you need more information.

[2018-11-02 23:41] SimenB commented on #195
Would you like to send a PR with a fix? :)

[2018-11-03 00:31] #185 closed

[2018-11-03 13:40] SimenB commented on #185
:tada: This issue has been resolved in version 21.27.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.27.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-04 07:22] lukeapage opened #196 "typo in latest release notes"
https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.27.0

the links are `eslint-plugin-jes/` instead of `eslint-plugin-jest/`

[2018-11-04 09:24] lukeapage opened #198 "prefer-spy-on - Cannot read property 'type' of undefined"
[code]

error is in here:

[code]

(edited with a console log)
which outputs:

[code]

[2018-11-04 09:39] #198 closed

[2018-11-04 09:41] SimenB commented on #196
That's a bug in semantic-release, mins opening up an issue there?

[2018-11-04 09:45] SimenB commented on #198
:tada: This issue has been resolved in version 21.27.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.27.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-04 09:56] lukeapage commented on #196
Sorry I’ve never used semantic release, I don’t know how it’s configured or if you need to update or.. something else so I’d feel uncomfortable raising an issue that just pointed at this one..

[2018-11-04 09:56] lukeapage commented on #196
I can’t see the bug raised already with them

[2018-11-04 19:26] twk-b opened #200 "global spyOn: true required even when env.jest = true"
with .eslintrc.js:env.jest=true

eslint gives the following error:
  82:26  error  'spyOn' is not defined  no-undef

but the similar errors for xit, it, beforeEach, etc disappear.

we have spammed globls:spyOn:false in our configs currently.

[2018-11-04 21:23] #200 closed, assigned to nobody

[2018-11-06 22:31] #195 closed

[2018-11-06 22:44] SimenB commented on #195
:tada: This issue has been resolved in version 21.27.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v21.27.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-07 10:19] SimenB opened #201 "Use `messageId` in rules"
This is a feature of newer verisons of eslint: https://eslint.org/docs/developer-guide/working-with-rules#messageids

Should be just a simple internal refactor, without impacting end users

[2018-11-09 18:09] fadookie commented on #185
@hanneslund @SimenB thanks so much! We will look into using this new rule soon.

[2018-11-09 19:07] macklinu opened #202 "Support ESLint's --fix-type option"
ESLint v5.9.0 introduced the [`--fix-type`](https://eslint.org/blog/2018/11/eslint-v5.9.0-released#the-fix-type-option) flag, which allows for people to fix issues of a certain type.

![image](https://user-images.githubusercontent.com/2344137/48282772-76963d00-e40f-11e8-8fe8-d377cba287bb.png)

To support this feature, we will want to update our fixable rules to use a `meta.type` property that is o

[2018-11-12 14:06] TheHolyWaffle opened #203 "[jest/valid-describe] "First argument must be name" incorrect error"
[code]

We're getting the error "First argument must be name" [jest/valid-describe]. This appears to be because the first argument is a variable instead of a string.

However, our use case is testing redux store actions. Those action types are exported as strings. We use those strings to name our jest tests.

This seems like a reasonable situation that is incorrectly marked as wrong.

[2018-11-12 16:34] macklinu commented on #203
That use case makes sense - a PR to fix would be very welcome! 🙏

[2018-11-16 17:16] jdelStrother commented on #156
I think I'm running into basically this problem.  With a parameter named `fail`:

[code]

I get "Illegal usage of `fail`, prefer throwing an error, or the `done.fail` callback`"

[2018-11-16 17:59] KevinHerklotz opened #204 "[new rule] prefer toBe(boolean)"
It is not best practice to use `toBeTruthy()` and `toBeFalsy()` ([Explanation](https://vincenttunru.com/toBeTruthy-vs-toBe-true/))
We could introduce a new rule called "prefer-to-be-boolean" (not sure about the name) that works like this:

The following pattern is considered warning:

[code]

The following pattern is not warning:

[code]

What do you think about this rule?

[2018-11-16 23:14] macklinu commented on #204
I personally agree with this rule in my experience and think a new rule would be a welcome addition. Not sure about the name either, but we can always touch that up in this issue or in a future pull request. 💃

[2018-11-17 02:59] SimenB commented on #156
Yeah, definitely! Wanna send a PR? You can see #155 for how to implement it 🙂

[2018-11-17 03:01] SimenB commented on #204
Yeah, I'll never turn down a rule 🙂 `avoid-truthy-falsy`?

[2018-11-18 07:19] garyking commented on #185
If we're using `jest.fn()` in a mock file (in a `__mocks__` dir), then how do we replace that with `jest.spyOn`? Especially since my understanding is that `spyOn` is only restored if it's declared within a test?

[2018-11-18 09:20] SimenB commented on #185
Why would you want to restore something if it's in a mock file? Or is because it's more typing that you don't _need_ restoration?

[2018-11-18 18:16] garyking commented on #185
No, I'm saying that this rule warns to replace `jest.fn` with `jest.spyOn` in a mock file, when it shouldn't.

[2018-11-18 21:00] MickaelBergem commented on #195
Thank you @lukeapage and @SimenB :D

[2018-11-25 19:35] SimenB commented on #156
:tada: This issue has been resolved in version 22.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-26 00:29] noahbenham commented on #204
I'd love to pick this one up.

[2018-11-26 01:10] SimenB commented on #204
Go for it!

[2018-11-26 21:03] garyking opened #209 "`prefer-spy-on` should ignore `jest.fn` outside of `test` blocks"
Per [this](https://github.com/jest-community/eslint-plugin-jest/issues/185#issuecomment-439673024), the new rule should not recommend replacing `jest.fn` with `jest.spyOn` when used outside of `test` blocks, since `jest.spyOn` can't even be used outside of test blocks.

[2018-11-27 14:08] #204 closed

[2018-11-27 14:13] SimenB commented on #204
:tada: This issue has been resolved in version 22.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-28 12:44] kleptog commented on #185
We're having trouble with this rule with the following code which uses $notify from the vue-notification plugin.
[code]
This gets converted to:
[code]
However this fails with:
[code]
Because the plugin doesn't exist in test cases. For now we simply disable this rule here, but what is the correct way of handling this? Seems to me that spyOn could simply be made to work with undefined values?

[2018-11-28 15:20] SimenB commented on #185
Actually had the same issue at work with a `jest.spyOn(window, 'fetch')` vs `window.fetch = jest.fn()`.

I'm not sure if it's correct of Jest to add a function if `objectPassed[propertyPassed]` is undefined. But I'm also not sure what the best way forward here is...

@thymikee @rickhanlonii thoughts?

[2018-11-28 15:47] thymikee commented on #185
I think we should keep the `spyOn` behavior as it is, because it's correct. Can ESLint check if `objectPassed[propertyPassed]` exists, and if it isn't allow `jest.fn`?

[2018-11-28 15:49] SimenB commented on #185
No, we cannot know that when doing static analysis

[2018-11-28 15:51] thymikee commented on #185
Such a pain. I wonder if we could use something like https://github.com/kentcdodds/babel-plugin-preval, quite a bit of overhead tho

[2018-11-28 17:11] kleptog commented on #185
What is needed is a variant of spyOn() that doesn't call the original function, which means it doesn't require the original function to exist in the first place. Something like:
[code]

[2018-11-28 17:24] rickhanlonii commented on #185
Fwiw by default spyOn doesn't call the original function

[2018-11-28 17:29] rickhanlonii commented on #185
Sorry, I'm wrong, I was thinking of Jasmine spyOn 😅

[2018-12-13 07:34] SimenB commented on #202
Whenever someone gets to this, make sure to enable https://github.com/not-an-aardvark/eslint-plugin-eslint-plugin/blob/master/docs/rules/require-meta-type.md as well

[2018-12-14 23:39] NickHeiner opened #212 "Code snippet makes plugin crash the eslint process"
The following snippet causes eslint-plugin-jest@22.1.0 to crash:

[code]

The error is:

[code]

When I remove that code snippet, the lint task completes successfully.

I know this isn't the latest version of eslint-plugin-jest, but I don't have time to test on the latest.

[2018-12-15 01:17] macklinu commented on #212
I cannot reproduce this with a test case on master. It looks like #58 will resolve your issue, which was shipped in v22.1.1. Upgrading to the latest version of eslint-plugin-jest should get rid of this error for you.

Closing, but let us know if updating to the latest version of eslint-plugin-jest does not resolve for you. 👍

[2018-12-15 01:17] #212 closed

[2019-01-02 23:15] NickHeiner commented on #212
I've confirmed that this is fixed in `v22.1.2`. Thanks!

[2019-01-09 09:18] dandv opened #213 "Weird error when using .rejects - cannot read property 'name' of undefined"
Reproduction repo at https://github.com/dandv/eslint-plugin-jest-bug

[2019-01-09 12:04] #213 closed

[2019-01-09 12:05] SimenB commented on #213
Thanks for the focused reproduction!

[2019-01-09 12:10] SimenB commented on #213
:tada: This issue has been resolved in version 22.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-09 20:57] dandv commented on #213
Thanks for the quick fix!

[2019-01-24 08:36] lonix1 opened #215 "Question: use with TypeScript / tslint"
Has anyone figured out how to make this work with tslint (TypeScript)?

[2019-01-24 08:50] SimenB commented on #215
I highly doubt it'll work with tslint. However, as TypeScript is moving to eslint, you should go that route: https://eslint.org/blog/2019/01/future-typescript-eslint

[2019-01-24 08:50] #215 closed

[2019-01-24 09:01] lonix1 commented on #215
Thanks for that tip, looks interesting!

[2019-01-27 00:42] macklinu opened #217 "[new rule] Prefer test.todo()"
Introduced in Jest 24 (see [this blog post](https://jestjs.io/blog/2019/01/25/jest-24-refreshing-polished-typescript-friendly#testtodo)), it seems like we could support a rule that would prefer the following:

[code]

instead of:

[code]

Haven't thought much about specifics, rule naming, etc. Just came here from the [Jest 24 blog post](https://jestjs.io/blog/2019/01/25/jest-24-refreshing-polished

[2019-01-27 08:34] doniyor2109 commented on #217
Hi. Can I work on this?

[2019-01-27 09:45] SimenB commented on #217
Yeah, go for it!

It should also warn against `test.skip('asdasdad', () => {})`

[2019-01-28 15:26] realityking opened #219 "valid-expect-in-promise doesn't work with Promise.all"
I have a test case that relies on multiple promises being tested with `Promise.all`:

[code]

This causes the following eslint errors:

[code]

It'd be great if the rule would recognize `Promise.all` and considered it valid.

[2019-01-28 15:36] SimenB commented on #219
You don't wait for them though - when you do `.then` you return a new promise (from `promise1` and `promise2`) which you _don't_ wait for.

[code]

[2019-01-28 15:41] realityking commented on #219
🤦‍♂️ Good catch!

But if I change things to consider the new promises, it still fails:

New code:

[code]

eslint report:

[code]

[2019-01-28 15:43] SimenB commented on #219
Yeah, that's a bug 🙂 Doesn't seem like the rule handles `Promise.all` at all. PR welcome! 😀

[2019-01-29 18:31] #217 closed

[2019-01-29 21:54] vhenzl opened #220 "semantic-release should be dev dependency"
`semantic-release` and `@semantic-release/*` dependencies added in 13b7c987fcf1e96bdb3ec4de0c41127052a6992b should IMO go to `devDependencies`.

[2019-01-29 22:10] SimenB commented on #220
They've dropped support for node 6, and I'd rather mess up there at times than risk breaking install for Node 6 without knowing it by disabling some engine check.

Thanks for the suggestion, though!

[2019-01-29 23:41] vhenzl commented on #220
Well… I don't understand much what it's about, but I don't like `eslint-plugin-jest` now installs hundreds of dependencies including `npm` which doesn't seem to have any relation to this plugin's functionality.

[2019-01-29 23:45] SimenB commented on #220
Oh wait, it added them to the release 😱 That's _not_ on purpose!

[2019-01-29 23:50] #220 closed

[2019-01-30 00:16] SimenB commented on #220
:tada: This issue has been resolved in version 22.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-07 09:02] eranshabi opened #222 "New rule: no istanbul ignore without reason"
When using the `coverageThreshold` option of jest you sometimes you have to add `/* istanbul ignore next */` comments in order for your coverage to much the threshold.
Often people will add this comment with no reason of why the code is not covered (examples: covered in e2e, can't be covered, will be covered later...).
I think the reason why it's uncovered should be documented so other developers

[2019-02-07 09:08] SimenB commented on #222
Good idea!

I'd think so - quick googling didn't yield any istanbul plugin.

/cc @bcoe thoughts?

[2019-02-07 12:30] SimenB opened #223 "`no-test-callback` doesn't handle `done` being used to fail a test"
The `done` callback in Jest can be used to fail tests, either by `done.fail()` or passing anything into `done`, like this: `done('fail')`. Both of these cases are handled wrong by the rule now - always replacing `done` with `resolve, which only works when it's not supposed to fail.

I've added 2 failing tests:

[code]

[2019-02-18 18:09] dashmug opened #226 "New rule request: no-empty-title"
Having an empty string as title is useless. Can we have a rule that prevents this?

[2019-02-18 18:58] SimenB commented on #226
Yeah, for sure! Should be pretty straight forward. Wanna send a PR?

[2019-02-18 20:16] dashmug commented on #226
Thanks for confirming that the rule doesn't exist yet.

I'm very busy at the moment but I'll see if I can do this during the weekend.

[2019-02-20 22:13] leoneves commented on #83
@raulmt do you managed to config context as aliases to describe through Adding Shared Settings?
You can show me how do you done that?

thanks in advance.

[2019-02-21 22:23] raulmt commented on #83
@leoneves no, I haven't done this yet, sorry…

[2019-02-28 17:58] donovanhiland opened #229 "jest/no-identical-title error in abstracted describe"
Working on a react native project and have some testing helpers like:

[code]

which triggers the `no-identical-title` rule in code like:

[code]

What would be the best way around this other than disabling that linting rule for those lines?

[2019-02-28 17:59] SimenB commented on #229
I don't think we can statically know what the name will be, so I guess disabling the rule here is the only option?

[2019-02-28 18:03] donovanhiland commented on #229
Thanks for the quick response! Is there a way I could structure my helpers so that it _could_ statically be known? This seems like a common use case that maybe I'm just doing it wrong.

If there's no better options, disabling the lint rule works for me 👍

[2019-02-28 18:09] #229 closed

[2019-02-28 19:01] SimenB commented on #229
I don't think so - right now we just walk up all `describe`s above in the scope. Following wrapper scopes seems hard. Feel free to send a PR fixing the rule if you're able to, though!

[2019-03-01 21:39] garyking opened #230 "Suggest toMatchObject over toEqual(expect.objectContaining)"
If `expect().toEqual(expect.objectContaining)` is the same as `expect().toMatchObject()` then perhaps have a rule to suggest the latter instead?

[2019-03-03 12:34] eranshabi opened #231 "New rule: no duplicated hooks"
A rule that disallows duplicated hooks in the same describe.
For example this code will fail, because you should combine the two `beforeEach`s into one:

[code]

[2019-03-04 13:28] SimenB commented on #231
I like it! Wanna send a PR?

[2019-03-04 13:32] SimenB commented on #230
I wonder if we maybe want to go the other way? Would be nice to remove `toMatchObject` from Jest, as the asymmetric matcher provides the needed primitive?

/cc @thymikee

[2019-03-04 15:11] thymikee commented on #230
It's more writing though, I'm not sure if people would like it. We could start with something like `prefer-object-containing` though

[2019-03-04 23:08] himynameisdave opened #232 "jest/no-identical-title doesn't report if using backticks"
Just checked and it appears that `jest/no-identical-title` doesn't report an error when specifying the title using backticks (even when not using string interpolation).

**Error:**
[code]

**Not reported:**
[code]

[2019-03-05 05:56] dashmug commented on #226
To anyone who's interested, feel free to make a PR. I'll try doing it myself but currently not finding the time to do so (I have not written an `eslint` rule before).

[2019-03-05 06:00] dashmug opened #233 "New rule request: title-matches-pattern"
Some teams might want to have a convention for their test titles. A lint rule that can enforce this will be very useful.

Options can be added to further specify whether the rule applies to `describe`, `it`, or `test`.

[2019-03-10 02:11] qm3ster opened #234 "Add an option to `no-alias-methods` to prefer the alias methods."
I find the rule very useful, because the consistent naming allows better search and replacement.
However, the "canonical" names are almost twice as long.
I appreciate that there may be more references to the "canonical" names out in the wild, but I find the official documentation sufficient, and the aliases search well enough there.

[2019-03-10 06:18] macklinu commented on #232
Thank you for the report. It looks like we should also be checking that the first argument is a `TemplateLiteral` without any expressions (e.g. no `${}`) in the following area.

https://github.com/jest-community/eslint-plugin-jest/blob/3a1dc2dbcd39e5f92803e27882e1b4d6ee7e24b9/rules/no-identical-title.js#L54-L58

A PR is welcome - may take a further look at it this weekend, and if so, will comment

[2019-03-10 18:05] himynameisdave commented on #232
@macklinu I'd love to, thanks for pointing me to it!

[2019-03-12 09:51] #232 closed

[2019-03-12 09:57] SimenB commented on #232
:tada: This issue has been resolved in version 22.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-14 20:32] Graham42 commented on #128
I'm also seeing

with config
[code]

versions:
eslint@5.15.1
eslint-plugin-jest@22.3.2

[2019-03-15 16:27] #226 closed

[2019-03-15 16:34] SimenB commented on #226
:tada: This issue has been resolved in version 22.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-26 12:42] Valdermeyder opened #241 "'valid-describe' shows error "Second argument must be a function" when function is imported"
Common describe definition

[code]

Using common describe

[code]

This syntax could be weird, but it is very useful in case you have integration tests to check forms and same fields repeated in different forms. When requirements for the field is changed you have only one place to change the test for all of the forms.

[2019-04-01 22:11] alexkrolick opened #242 "disable rules for certain file paths or extensions"
I'm using Cypress and Jest with the ESLint plugins for both, and the Jest plugin is complaining about `consistent-test-it` and `expect-expect` inside the .spec.js files which are Cypress tests (Mocha syntax).

Being able to specify the file extension to lint would allow these rules to live together in one config.

[2019-04-02 00:02] macklinu commented on #242
I am curious about this too, having rule into a similar issue in a personal project, but I have not yet explored using [ESLint's `overrides` option](https://eslint.org/docs/user-guide/configuring#disabling-rules-only-for-a-group-of-files). Have you tried this out yet? I would encourage you to play around with that configuration, and if you are able to find a solution, we could definitely add that

[2019-04-02 01:18] alexkrolick commented on #242
That seems to work for those two rules, but you can't change `plugins` or `extends`, so if you have conflicts with the recommended config it might not work.

[2019-04-02 05:07] SimenB commented on #242
You can specify `plugin`s, but not `extends`, in `overrides`.

You should either:

- manually compose the config in a js config file (you can do `require(eslint-plugin-jest).configs.recommended` and use that however you want)
- use multiple config files (with some `root: true` in them)
- wait for the resolution of https://github.com/eslint/rfcs/pull/9 or any alternative like it

I don't think it m

[2019-04-02 05:07] #242 closed

[2019-04-02 05:13] alexkrolick commented on #242
Ok, documenting the override pattern sounds fine for now

[2019-04-04 08:20] SimenB commented on #241
Seems natural to add an ignore directive in this case no? While this is a false positive, I'm not sure how to fix it without introducing false negatives, which imo are worse.

Looking up the imported var seems out of scope for this plugin.

/cc @macklinu thoughts?

[2019-04-04 18:40] dashmug commented on #203
Workaround...

[code]

[2019-04-09 14:38] john-aws opened #243 "README does not answer the question "why?""
The README documents how to install, use, and configure the plugin but it does not address the question of why we should do any of this.

Why should someone use this project? What does it do and what benefits will be gained?

[2019-04-14 07:16] SimenB commented on #243
Seems like a general "why use eslint" to me, which I don't think belong in this repo. Its purpose is the same as most other eslint plugins - to help you detect and fix errors and inconsistencies in your code base.
I'm not sure exactly what sort of text you're missing from the readme. Could you point to some example of another eslint plugin that answers the question "why"?

[2019-04-17 02:55] alexkrolick opened #244 "Add different setting for no-large-snapshots for inline vs external snaps"
It would be cool to be able to specify the max length of inline snapshots separately from snapshots in files.

Main use case is setting inlineSnapshots to be something like 15 lines max, but a larger number like 50 for  regular snapshots.

[2019-04-17 08:24] sergioregueira commented on #203
The same happens with classes and methods:
[code]
As @dashmug said, you can use templates until this issue is fixed:
[code]

[2019-04-17 09:41] SimenB commented on #244
Yeah, great idea! Wanna send a PR?

[2019-04-17 16:41] alexkrolick commented on #244
Yes, I'll send one

[2019-04-18 09:36] zzzgit opened #245 "it doesn't work for me"
[code]

I don't know why it doesn't work.
I have installed `eslint` and `eslint-plugin-jest` also.

[2019-04-18 10:05] SimenB commented on #245
Can you put together s reproduction we can pull down and test?

[2019-04-20 01:34] zzzgit commented on #245
https://github.com/zzzgit/sample

Please check test.ts

[2019-04-23 14:39] SimenB commented on #245
I had to fix the eslintrc file (`plugin` -> `plugins`)

[code]

After that it worked fine

[code]

What command are you running?

[2019-04-23 15:28] overlookmotel opened #247 "Option for `lowercase-name` rule to allow uppercase for top level describes"
My preferred style is for top-level `describe`/`it`s to have names starting with a capital letter, and all nested blocks lower case. So then the concatenated test name reads like a sentence starting with a capital letter.

e.g.:

[code]

At present this style is not possible to enforce with the `lowercase-name` rule.

How about:

1. Add `lowercase-name` `ignore` options `'top-describe'`, `'top-it'

[2019-04-24 03:07] zzzgit commented on #245
I am using a eslint-vs-plugin, instead of manually running a command.
The problem is that I haven't enable eslint support for .ts files in vs-code.

[2019-04-24 03:07] #245 closed

[2019-04-24 09:23] SimenB commented on #247
Happy to merge a PR with an `ignore` option added 🙂

[2019-04-27 03:44] alias-mac commented on #128
Just for the record (in case someone has the same problem that I have) I was able to make this work by doing:
[code]

if I remove the `env` override, then it breaks like it is explained in comments above:
[code]

[2019-04-29 09:12] overlookmotel commented on #247
Great! What do you think about a new `name-case` rule which covers all possibilities?

[2019-05-04 18:52] dangreenisrael commented on #17
Hey @SimenB. We we looking for this functionality, and following your advice I created a plugin for it.  Any chance you would be willing to link to it?

Also, any feedback in general?

https://github.com/dangreenisrael/eslint-plugin-jest-formatting
https://www.npmjs.com/package/eslint-plugin-jest-formatting

[2019-05-05 06:59] SimenB commented on #17
Cool! Please send a PR adding a link to it in our readme :) A PR to awesome-jest as well would be cool

[2019-05-05 07:00] SimenB commented on #113
See https://github.com/dangreenisrael/eslint-plugin-jest-formatting

[2019-05-05 07:00] #113 closed

[2019-05-06 22:59] chrisdothtml commented on #203
PR here: #253

[2019-05-08 12:24] yatki opened #254 "Bug Report: expectRejectCase & expectResolveCase is not working"
Hello, I was interested to solve the issue https://github.com/jest-community/eslint-plugin-jest/issues/54 and I was looking at the code base.

https://github.com/jest-community/eslint-plugin-jest/blob/05eb11ace731d1f675711adbc0730a61ee36f2a9/rules/util.js#L20-L28

I realised that expectRejectCase & expectResolveCase functions are actually not working. `methodName(node) === 'reject';` here the meth

[2019-05-10 17:32] SimenB opened #256 "Rewrite in TypeScript"
Now that https://github.com/typescript-eslint/typescript-eslint/pull/425 has been released, it should be relatively straightforward to migrate.

I think porting one and one rule makes the most sense. Feel free to pick one 🙂

- [x] `consistent-test-it` - #327
- [x] `expect-expect` - #325
- [x] `lowercase-name` - #258
- [ ] `no-alias-methods`
- [x] `no-commented-out-tests` - #305
- [x] `no-disabled-

[2019-05-12 21:52] greenkeeper[bot] opened #260 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `1.8.0` to `1.9.0`.

🚨 [View failing branch](https://github.com/jest-community/eslint-plugin-jest/compare/master...jest-community:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-1.9.0).

This version is **covered** by your **current version range** and after updating

[2019-05-13 08:59] SimenB commented on #260
https://github.com/typescript-eslint/typescript-eslint/pull/513

[2019-05-13 09:04] SimenB commented on #260
718c08c80dbe7a13f2e64d54fd7de7db1d3d9f13

[2019-05-13 09:04] #260 closed

[2019-05-13 15:53] kangax opened #261 "New rule: no-commented-out-tests"
There's already a rule to catch disabled tests. In our codebase, I'm seeing cases where people disable tests by commenting them out. While this could be easily caught during code reviews, it'd be nice to disallow this via a rule before it even makes it to the review.

Implementation-wise, we could probably detect cases of `describe`/`it`/etc. within comments and warn then.

[2019-05-13 21:23] SimenB commented on #261
I'm not sure if it's possible to detect this. Normally we just ask for `CallExpression`, but in a comment it's just a string. Wanna try to provide PR for it?

[2019-05-15 20:46] jeysal commented on #261
Throwing some regexes at comment contents to catch common cases sounds fine to me if someone wants to take a shot at implementing this 😄

[2019-05-16 01:43] kangax commented on #261
@SimenB @jeysal here you go — lemme know what you think

[2019-05-22 13:06] #261 closed

[2019-05-22 13:17] SimenB commented on #261
:tada: This issue has been resolved in version 22.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 13:41] tmorehouse opened #263 "Upgrade from 22.5.1 to 22.6.0 fails with error `/bin/sh: 1: babel: not found`"
After upgrading to 22.6.0, we get the following build error when installing eslint-plugin-jest:

[code]

Fails due to the `postinstall` command introduced via #257 which tries to compile files with babel.

[2019-05-22 13:42] tmorehouse commented on #263
Maybe you need to be explicit with the path to `babel` (i.e. `node_modules/.bin/babel`)

[2019-05-22 13:43] jackmu95 opened #264 "Installation fails due to `postinstall` command"
The installation of `eslint-plugin-jest` v22.6.0 fails due to the `postinstall` command introduced in #257 which tries to compile files with `babel`.

[code]

[2019-05-22 13:44] jackmu95 commented on #264
Duplicate of #263.

[2019-05-22 13:44] #264 closed

[2019-05-22 13:45] quarties commented on #264
I can confirm that issue - rolling back to version `22.5.1` can fix that.

[2019-05-22 13:45] simoneb commented on #264
same here. our CI started failing right away

[2019-05-22 13:45] quarties commented on #263
I can confirm that issue - rolling back to version `22.5.1` can fix that.

[2019-05-22 13:51] mdavis199 commented on #263
I think the problem is because `@babel/cli` is listed as a `devDependency`; but `babel` is being used during the installation of `eslint-plugin-jest` when the post-install script is run.  So, babel is no longer a devDependency; it's required for installation.

[2019-05-22 13:58] swissspidy commented on #263
I am getting a similar issue, but in my case it's `yarn` that is not installed, not `babel`. So it fails earlier.

[2019-05-22 14:13] shazron commented on #263
This is the commit that introduced the build issue I believe: https://github.com/jest-community/eslint-plugin-jest/pull/257/commits
I don't have yarn installed globally, so it fails

[2019-05-22 14:34] ranyitz commented on #263
Running build during `pretest` solves the issue while enabling transpilation before running the tests. This PR should do the trick -https://github.com/jest-community/eslint-plugin-jest/pull/265

[2019-05-22 15:11] #263 closed

[2019-05-22 15:19] SimenB commented on #263
:tada: This issue has been resolved in version 22.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 15:42] wlach opened #266 "Build fails, complaining it can not find '@typescript-eslint/experimental-utils'"
A renovate PR bumping the version of this package used in our project iodide (iodide-project/iodide#1855) is failing, complaining about some type of missing typescript package. Does an additional depdendency need to be specified in this project's package.json?

[code]

[2019-05-22 15:48] nightink commented on #266
+1

[2019-05-22 15:52] tmorehouse commented on #263
Seeing a new error now when we run lint on our own packages:

[code]

[2019-05-22 15:56] SimenB commented on #263
Oops, it's a dev dep not a regular dep. Mind sending a PR? Workaround is to install it yourself. I'm stuck on mobile (albeit with internet), so not the easiest to fix myself

[2019-05-22 16:05] SimenB commented on #266
Bah, so sorry about this mess!

#267

[2019-05-22 16:05] #266 closed

[2019-05-22 16:09] SimenB commented on #263
Edit should be fixed whenever CI publishes the next version

[2019-05-22 16:13] SimenB commented on #266
https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.6.2

[2019-05-22 16:14] SimenB commented on #263
https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.6.2

Hopefully things work now! 🤞

[2019-05-22 16:21] tmorehouse commented on #263
Nope :(

[code]

[2019-05-22 16:37] hbroer opened #268 ""Cannot read property 'meta' of undefined" after update to 22.6.2"
`Cannot read property 'meta' of undefined` after update to 22.6.2

[code]

Greenkeeper is going mad on my repo ;)

Repository: [github.com/owja/ioc](https://github.com/owja/ioc)

[2019-05-22 16:42] hbroer commented on #268
Downgrading to `22.5.1` and it works again. I will pin that version.

[2019-05-22 16:50] tmorehouse opened #269 "Error `Cannot find module 'typescript'` after upgrade to 22.6.2"
[code]

Looks like `typescript` also needs to be moved to `dependencies`

[2019-05-22 17:34] shazron commented on #269
I got the warning that I need `typescript` as a peer dep, so I installed it in my devDeps, but now I get this error: #268

[2019-05-22 18:15] arkaydeus opened #270 "Error: ENOENT: no such file or directory, open 'node_modules/eslint-plugin-jest/lib/index.js'"
Tried using 22.6.2 but got:
https://github.com/jest-community/eslint-plugin-jest/issues/268

So downgraded to 22.5.1 and get the following:
[code]

[2019-05-22 18:34] tmorehouse commented on #270
#266

You'll need to downgrade to 22.5.1

[2019-05-22 18:45] #268 closed

[2019-05-22 18:45] #269 closed

[2019-05-22 18:45] #270 closed

[2019-05-22 18:46] wmertens commented on #269
I guess it needs to be a peerDep because the version of typescript may differ per repo, but at least it should ignore missing typescript for repos that don't use typescript

[2019-05-22 18:48] SimenB commented on #268
Should be a new release whenever https://www.githubstatus.com/incidents/nf4gcjtcsqdb is gone

[2019-05-22 18:48] SimenB commented on #269
Should be a new release whenever https://www.githubstatus.com/incidents/nf4gcjtcsqdb is gone

[2019-05-22 18:49] SimenB commented on #270
Should be a new release whenever https://www.githubstatus.com/incidents/nf4gcjtcsqdb is gone

[2019-05-22 19:29] SimenB commented on #268
:tada: This issue has been resolved in version 22.6.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 19:30] SimenB commented on #269
:tada: This issue has been resolved in version 22.6.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 19:30] SimenB commented on #270
:tada: This issue has been resolved in version 22.6.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 19:33] arkaydeus commented on #270
Thanks!

[2019-05-24 16:11] ericrav opened #272 "[valid-expect-in-promise] Enforce for Observable .subscribe() also"
If you use an RxJS Observable and put an `expect` in the `subscribe` callback, you run into the same issue as with promises:

[code]

Can `valid-expect-in-promise` be extended or duplicated to check for `subscribe`?

[2019-05-24 16:12] SimenB commented on #272
I like the idea!
It might make more sense as a separate rule? Not sure, maybe not :)

[2019-05-24 16:19] ericrav commented on #272
You're right, it should be a separate rule because the fix is different. You can't return the Observable subscription—you can only either call `done()` or convert it to a promise with `observable.toPromise()`

[2019-05-24 16:24] SimenB commented on #272
Right, thanks.

PR welcome! 😀

[2019-05-26 09:46] G-Rath commented on #256
I've done a first pass of (`no-mocks-import`](https://github.com/G-Rath/eslint-plugin-jest/tree/ts-migration/no-mocks-import), which passes all the tests.

So far, it seems to me like this'll be a bit teeth pully, as `ts-estree` doesn't provide you with lots of nice [type guards like TS does](https://github.com/microsoft/TypeScript/blob/master/src/compiler/utilities.ts#L5392) - as a result, I've s

[2019-05-27 09:21] jeysal commented on #256
@G-Rath thanks for investing time in this! What you've described sounds fine to me. @SimenB will probably want to kick off a second attempt at TS migration at a less busy time

[2019-05-28 09:29] SimenB commented on #256
Thanks @G-Rath! Yeah, it seems using the module from https://github.com/typescript-eslint/typescript-eslint/pull/425 requires consumers to use typescript as well, so I need to figure out how we can _author_ rules in TS without consumers noticing at all. I'll try to get to this, but I'm still swamped at work... Feel free to dig into it if you don't mind!

[2019-05-29 02:00] G-Rath commented on #256
@SimenB while things like AST have always fascinated me, sadly I've not had a lot of time (yet - hopefully 😉) to actually use such technology in a meaningful way - up til now it's been "wide eye boy pressed up to the glass of the store window" for me :joy:

I mention that just to let you know where I sit on the skill-base for doing this stuff - so take what I say with a grain of salt, b/c it's all

[2019-05-30 17:35] kasvtv commented on #203
This also occurs when one wants to linewrap using string concatenation like so:

[code]

[2019-05-31 00:16] G-Rath opened #273 "New rule: avoid-prefixing-tests-with"
Basically, this would catch things like `it('it should throw an error', () => { ...`

I figure it would be best as a more generic rule, that took a list of strings that should be considered as undesired to have at the start of the messages for test calls, with "it" being the default.

(The rule name could be improved :/)

[2019-06-02 08:13] ranyitz commented on #273
It would also help if you want to remove an accidental space:

[code]

I think that adding a rule like that which is fixable (removes the unwanted string) would be nice.

[2019-06-03 08:30] SimenB commented on #273
Sure, PR welcome! 👍

[2019-06-03 16:14] SimenB commented on #256
We don't want to use the parser in our own rules - we want to use the utils which provide way better types than the ones from DefinitelyTyped as well as some nice utils for options etc. It's also stricter (also called opinionated 😛), forcing us to follow some good conventions (fixing both #201 and #202 at once).

We do however want to use the parser for linting our own code, but that should not be

[2019-06-10 22:17] #201 closed

[2019-06-17 16:37] benmonro opened #281 "seeking advice on no-large-snapshots"
I'm working with a codebase that has a very large number of snapshots, a large majority of them are either gargantuan, very large, or large.  I'd like to add the no-large-snapshots rule, but I'd like to add them in a way that it applies to changes going forward.  In otherwords, is there a way to have disable the rule for the snapshots that currently fail, but have them proceed w/ new tests/snaps?

[2019-06-17 16:49] SimenB commented on #281
Not really, as far as I know. You can add the rule as `warning` level, and use [`--max-warnings`](https://eslint.org/docs/user-guide/command-line-interface#--max-warnings) set to the current level of warnings you get to ensure you do not regress? Might get noisy...

Another alternative might be to explicitly ignore the existing snapshots for the rule. This is a per-file thing, though

[2019-06-18 13:22] benmonro commented on #281
Yeah sadly neither of those options would work.  There's a ton of files.  I tried using disable comments but those get wiped out when you do -u

[2019-06-18 14:50] SimenB commented on #281
I meant to use `overrides` in eslint config, not individual disable comments

[2019-06-18 20:33] benmonro commented on #281
@SimenB is this possible / feasible to implement in the rule? https://github.com/facebook/jest/issues/8579#issuecomment-503278185

it would be very beneficial if we could disable the rule in this way.

[2019-06-19 19:01] benmonro commented on #281
@SimenB trying to implement this in my fork but a bit stuck.  Looking for a way to have a snapshot resolver that just uses the jest config configured for the project. any chance you've pulled in the jest config for a project into a lint rule for jest before?

[2019-06-20 08:16] SimenB commented on #201
:tada: This issue has been resolved in version 22.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-21 17:31] benmonro commented on #281
@SimenB implemented on this PR: https://github.com/jest-community/eslint-plugin-jest/pull/282

[2019-06-22 01:05] chrisblossom opened #283 "[new rule] prefer jest.doMock"
I have found using `jest.doMock` over `jest.mock` works better because it is predictable and works well with `resetMocks`, `resetModules` and `restoreMocks`.

[2019-06-22 11:36] SimenB commented on #283
It won't work with `import` as they're hoisted to the top level. I'm not against adding a rule for it, though 🙂

[2019-06-23 14:37] M4rk9696 commented on #256
@SimenB I'll pick up a rule, can you tell me where code migrated to typescript is maintained.

[2019-06-23 20:03] StephanBijzitter opened #286 "Add an option to support namespaced expect"
Hello!

I'm not using Jest, but I am using Expect (which is used by Jest) as part of a custom testing suite with Puppeteer.

This plugin works absolutely fine when I do this:
[code]
But... `expect` is not globally available for me, so my code actually looks like this:
[code]

Is there some way I can let this plugin work the way I need it to? Otherwise, I'd love to request this as a feature and if

[2019-06-24 09:00] SimenB commented on #286
what about

[code]
?

If that does _not_ work we could explore an option. But accessing properties instead of "top level" function calls is a bit more work in the rules. So preferably that's avoidable

[2019-06-24 09:13] StephanBijzitter commented on #286
Nice one :-)

I experimented with this yesterday too, but instead opted for something else, because it would be very difficult to make sure other programmers (and testers) will do it that way.

So I figured I'd expose `expect` in a different way:

[code]

This actually works out better than what I originally requested anyway, as it allows us to log more beautiful messages to Slack/Github/Whatever

[2019-06-24 09:14] SimenB commented on #286
Perfect! 🙂

[2019-06-24 09:14] #286 closed

[2019-06-24 14:45] benmonro opened #287 "show snapshots in test file instead of .snap file for no-large-snapshots"
I would like to be able to have the no-large-snapshot rule report in the .js file that is calling `.toMatchSnapshot()` instead of in the .snap file.  Currently there's no way to disable an error for a large snapshot because if you add a comment to the .snap file, it will get wiped out the next time that same file is updated.

[2019-06-24 14:45] benmonro commented on #287
fixed in https://github.com/jest-community/eslint-plugin-jest/pull/282

[2019-06-24 18:40] chrisblossom commented on #283
Do you mean `jest.doMock` does not work with `import`?

[2019-06-26 10:19] SimenB commented on #283
Correct. See https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=FYUwzgLgdAJg9gWTgYwNYAoDkAjAhgJ0wEoBuAKDIEsBbABznwgAIBvAMzjgF8m385qTHAUzkyHOOlJA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=unambiguous&lineWrap=true&presets=env&prettier=true&targets=Node-6&ver

[2019-06-27 23:13] thisissami commented on #203
Hi - just chiming in here, and copying what I wrote in PR #253. tl;dr - this feels like a code smell, and this rule should probably be removed completely. Quoting myself:

Seeing as how this hasn't been merged in yet, I'm just gonna chime in with a different opinion: the `linter` should not enforce a particular form of strings, period. The first argument for a `describe` should be a string, and _a

[2019-07-01 10:23] skywickenden opened #289 "How to apply "jest/globals" to "jest-dom/extend-expect""
If I import extended expect functions such as `toContainElement`

    import { toContainElement } from "jest-dom/extend-expect";

I get a lint error:

  3:10  error  'toContainElement' is defined but never used  no-unused-vars

toContainElement is used as an extension to expect, eg:

     expect(foo).toContainElement(bar);

Is it possible to fix this without resorting to `// eslint-disable-line no

[2019-07-01 10:31] SimenB commented on #289
`no-unused-vars` is an eslint core rule, it doesn't come from this plugin. `jest/globals` just adds `expect`, `describe`, `test` etc, not matchers.

This question is better asked on StackOverflow as its relation to this plugin is orthogonal to it

[2019-07-01 10:31] #289 closed

[2019-07-05 18:03] scottsheffield opened #292 "Snap processor makes enforcing other rules on .snap files impossible"
Adding the processors to .snap files, and those processors being so explicitly about no-large-snapshots, means I cannot use max-lines, for example, on snapshots to enforce that we are not generating too many snapshots for a given suite.

I appreciate the value of limiting the rules applied to .snap files specifically, but I think it ought to be configurable.

[2019-07-09 18:17] chrisblossom opened #295 "[new rule] prefer-to-throw / consistent-expect-error"
I would like to see a new rule named `prefer-to-throw`, or `consistent-expect-error` that would _(preferably)_ default to the `.toThrow` syntax.

If `consistent-expect-error` is set to use the `try/catch` syntax, an error should be thrown if `expect.hasAssertions` (or a variation of) has not been set.

[code]

[2019-07-09 18:21] chrisblossom opened #296 "rename require-tothrow-message to require-to-throw-message"
Would a PR be accepted that would rename `require-tothrow-message` to `require-to-throw-message`? `tothrow` is not a word and for those of us using a spell checker in our IDE (webstorm / vscode plugin) it is distracting.

I think the PR would not remove `require-tothrow-message`, but rename all instances of it and possibly deprecate the old name.

[2019-07-09 18:30] chrisblossom commented on #244
I was just about to put an issue requesting this feature in `prefer-inline-snapshots`.

[2019-07-09 18:36] chrisblossom opened #297 "prefer-inline-snapshots max length"
I'd like to see an option for `prefer-inline-snapshots` that would only recommend inline snapshots that are under X lines long.

[2019-07-09 23:27] chrisblossom commented on #283
Yeah, but I've ran into countless issues because of the hoisting. Here is an example repo demonstrating some of them, and how I've fixed them:

[chrisblossom/issues/tree/eslint-plugin-jest-issue-283](https://github.com/chrisblossom/issues/tree/eslint-plugin-jest-issue-283)

Basically the only combination I've found to constantly work as expected is to use a combination of `jest.doMock` and dynamic

[2019-07-10 08:41] jeysal commented on #296
I'm worried that it would be less clear that it refers to the `toThrow` matcher.
Questions upon reading the rule name might be:
Where does it "require to throw [a] message"? Why would I throw a message?

[2019-07-10 08:47] jeysal commented on #297
Sounds like a good idea, although given the difficulties encountered in https://github.com/jest-community/eslint-plugin-jest/pull/282, unless those are solved it would mean the rule would need to be changed to report errors in the snap file :|

[2019-07-10 08:56] jeysal commented on #295
Matching any try-catch where the catch block contains an `expect` to recommend using `expect.assertions`/`expect.hasAssertions` seems doable, but I'm not sure about `toThrow` - I don't see a good way to avoid false positives where the assertions in the catch blocks do more than just check the error message

[2019-07-11 12:24] SimenB commented on #283
This diff makes `example-mock.test.js` pass

[code]

Does that cover your use case?

[2019-07-11 14:18] M4rk9696 commented on #231
I'll raise a PR for this

[2019-07-11 14:49] M4rk9696 commented on #231
@SimenB raised a PR for this

[2019-07-11 17:17] chrisblossom commented on #283
Thanks for the response!

Yes, that will fix this minimal example, but that does not work if you are using an [npm package](https://github.com/chrisblossom/temp-sandbox) inside your test that uses `fs` (I've even [run into the case](https://github.com/chrisblossom/backtrack/blob/cb47bdb3bd727a94a8bc67a2e0f3312d2acde5be/src/stats-file/write-stats-file.test.ts#L24-L30) where I needed to restore `fs.

[2019-07-11 17:30] chrisblossom commented on #295
I don't know enough about eslint to respond to this concern, but I would accept this as a limitation and document it. I would just use a `// eslint-disable-next-line consistent-expect-error` if there is an actual need to use a `try / catch`.

This would also mean it should not be enabled in the recommended config (or it would enable to `try / catch` syntax, which I don't think is preferred. For ex

[2019-07-11 17:44] chrisblossom commented on #296
Interesting, when I read it originally on the readme, I assumed it was a spelling mistake and wasn't didn't know exactly what it was referring to until I read the description. Which I could have interpreted it the same as you said as is.

I personally don't think that should/would be an issue, but it could be renamed to something like:

- `to-throw-require-message`
- `require-message-in-to-throw`

[2019-07-12 17:13] jeysal commented on #295
accept this as a limitation and document it.

Yeah, documenting the limitation might suffice in this case.

Additional? I thought this was what your code examples are about?

On Thu, 11 Jul 2019, 19:30 Chris Blossom, <notifications@github.com> wrote:

[2019-07-12 17:13] jeysal commented on #296
Oh I didn't have the names of those other rules in mind, looks like tothrow
is indeed the outlier. Not sure if the rename is important enough to
warrant the breaking change though

On Thu, 11 Jul 2019, 19:44 Chris Blossom, <notifications@github.com> wrote:

[2019-07-15 11:11] #231 closed

[2019-07-15 11:19] SimenB commented on #283
That last example uses neither `jest.doMock` or `jest.mock`, though... It seems somewhat edge casey to me to want to both mock and not mock a dep within a single test.

What about using e.g. `jest.isolateModules`: https://jestjs.io/docs/en/jest-object#jestisolatemodulesfn? Hard to say if that solves your underlying issue without seeing some real code.

[2019-07-15 11:19] SimenB commented on #231
:tada: This issue has been resolved in version 22.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-15 17:33] chrisblossom commented on #283
Kind of got off topic from the original post (but they are directly related in my experience).

I must live in edge cases, ha. ;) But really, I have been trying to show minimal examples, not real code. I'm sure there are multiple ways to solve this, but this pattern is the only way I've found to get everything "to just work" without having to think about the implementation details all the time. Wh

[2019-07-15 17:37] chrisblossom commented on #296
I personally think it is.

[2019-07-15 19:03] jeysal commented on #296
@simenb thoughts?

[2019-07-16 18:04] chrisblossom commented on #295
I guess looking back it doesn't seem to fit in the description of `prefer-to-throw`, or `consistent-expect-error`. Seems like it would be something like `no-unsafe-try-catch`. But I'd be happy either way.

[2019-07-17 11:31] SimenB commented on #283
I'm not trying to be difficult, I'm just trying to understand if this is a problem we should tackle in Jest (via code and/or docs/examples) or if it's truly something we should provide a lint rule for. 🙂

Is there some open source test you can point to that you had to use `doMock` since `mock` didn't work? I'd like to understand the problem properly

[2019-07-17 13:27] SimenB commented on #256
A new try is up here: #305.

@M4rk9696 thanks! A PR to that branch is most welcome

[2019-07-17 13:52] #243 closed

[2019-07-17 18:46] chrisblossom commented on #283
Sorry if I came across in a way that made you think that. That never crossed my mind...quite the opposite actually, you are very helpful.

The most recent example is an [attempt to refactor cosmiconfig](https://github.com/davidtheclark/cosmiconfig/pull/205#discussion_r303219220):

[Here is the original test code](https://github.com/chrisblossom/cosmiconfig/blob/modernize-code-with-dynamic-req/test

[2019-07-18 19:35] cartogram commented on #295
We have a similar rule to this at Shopify: https://github.com/Shopify/eslint-plugin-shopify/blob/master/docs/rules/jest/no-try-expect.md for preventing the try/catch part. I was already planning on submitting a PR for it soon. @SimenB @jeysal, would this be a rule you are interested in having as part of this repo?

@chrisblossom I think that would help prevent some of what you are looking to do.

[2019-07-18 20:26] SimenB commented on #295
@cartogram yeah, definitely!

[2019-07-18 20:53] SimenB commented on #256
@G-Rath would you be able to PR `no-mocks-import` to the `reapply-ts` branch of this repo? 🙂

[2019-07-18 21:00] G-Rath commented on #256
@SimenB I can but try ;P

Give me a few minutes (or an hour, depending on the work - I've not actually been following the activity 😬)

[2019-07-18 21:00] SimenB commented on #256
There is absolutely no rush 🙂

[2019-07-18 21:45] G-Rath commented on #256
@SimenB done in #309

It took a bit longer than a few minutes b/c of a standup meeting & having to update the code a bit (but nothing major).

All the tests are passing, so I think it's fine :)

[2019-07-18 23:20] chrisblossom commented on #295
[eslint-plugin-shopify/jest/no-try-expect](https://github.com/Shopify/eslint-plugin-shopify/blob/master/docs/rules/jest/no-try-expect.md) work great if https://github.com/facebook/jest/pull/8718 gets merged, but if it doesn't I'd prefer a more intelligent rule (and named accordingly) as discussed here that prefers the `.toThrow` syntax unless it can't be used.

[code]

invalid:
[code]

[2019-07-19 05:03] cartogram opened #312 "[new rule] no-snapshots"
Wondering if I could contribute [this `no-snapshots` rule](https://github.com/Shopify/eslint-plugin-shopify/blob/master/docs/rules/jest/no-snapshots.md) that I wrote for Shopify

[2019-07-19 05:06] cartogram opened #313 "[new rule] no-vague-titles"
At Shopify, we have a [rule that prevents specific words](https://github.com/Shopify/eslint-plugin-shopify/blob/master/docs/rules/jest/no-vague-titles.md) from test titles. This is pretty nuanced/ specific, but I'd love to add it to this repo.

[2019-07-19 07:08] G-Rath commented on #256
I've been doing everything in a [single generic branch](https://github.com/G-Rath/eslint-plugin-jest/tree/ts-migration/general), and have about a quarter of the rules converted?

My plan is to just cherry-pick at the end. There are a couple of that don't require `tsUtils` that I can cherry-pick, which I'll try and do now.

Otherwise, I'll finish off the rest off the rules this evening/weekend :)

[2019-07-19 07:37] SimenB commented on #256
Oh wow @G-Rath, that's awesome!

[2019-07-19 07:42] SimenB commented on #312
For sure, I bet more people would like to use it. Thanks!

[2019-07-19 08:37] G-Rath commented on #256
@SimenB just a heads up that the `meta` property should be checked on all my PRs; I've been forgoing trying to figure out what the best values for the description, setting the correct "recommended" value, the "category", and the "type" in favor of converting the actual rules as I feel those are somewhat arbitrary.

I've been just copying the header for each rule as the `description` :)

I've also

[2019-07-19 08:41] SimenB commented on #256
Ah, ok, good to know. I'll verify

The fixes are all covered by unit tests, so if the tests pass then we're good. If a violation is not fixable, we should not return a fixer (that way the "n error potentially fixable" message from eslint is not misleading)

[2019-07-19 08:54] SimenB commented on #292
I'm afraid I don't understand the issue here

Configurable in what way?

[2019-07-20 08:33] #54 closed

[2019-07-20 08:33] #254 closed

[2019-07-20 08:39] SimenB commented on #54
:tada: This issue has been resolved in version 22.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-20 08:39] SimenB commented on #254
:tada: This issue has been resolved in version 22.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-20 10:56] G-Rath commented on #256
I think we've nearly gotten all the low hanging fruit, so I'm going to look to tackle the converting of the `exportCase` & other type guard util functions (like `method`, `method2`, etc).

I've actually already done `exportCase`, but I've not pushed it yet b/c I need to explore them a bit more, as some of them are definitely guards, while others are not.

Once that's done, we'll be able to tackle

[2019-07-20 11:08] SimenB commented on #256
Haha, this has been awesome, thank you so much for your help!

[2019-07-21 12:47] KaelWD opened #332 "prefer-to-be-null TypeError with TSAsExpression"
ESLint: **6.1.0**
@typescript-eslint/parser: **1.12.0**
eslint-plugin-jest: **22.12.0**

Code:
[code]

Error in `methodName`:
[code]

![image](https://user-images.githubusercontent.com/16421948/61591325-08924e80-ac09-11e9-863f-b806471125ac.png)
`node.parent.property` is undefined

[2019-07-21 13:48] SimenB commented on #332
Thanks for the report!

This really shows how bad our current utilities are... I tried to fix this quickly, but I was unable to do so in a generic way, which means that while stopping this specific instance from crashing, other rules will probably crash in the same way as well. For now, I'd advise you to add an eslint-ignore comment, and I'll revisit this after the TS migration (#256) is complete.

[2019-07-22 00:35] SimenB commented on #256
TS ESLint had a stable release, so I merged the PR to master

[2019-07-22 05:13] topaxi opened #334 "jest/valid-describe false positive for descibe.each variant"
The rule `jest/valid-describe` errors for the `describe.each` variant:

[code]

leads to:

[code]

[2019-07-22 09:17] joshuadiablito commented on #334
Also have the same error, it's valid: https://jestjs.io/docs/en/api#describeeachtable-name-fn-timeout

[2019-07-22 11:51] G-Rath commented on #334
I suspect I know what's causing this, but I can't reproduce this - I managed to have it show up once in my IDE, but it didn't have a stacktrace and went away after a second.

I hate to be a pain, but if you could provide a small repo that reproduced the error, or even a stacktrace, that'd be a great help!

[2019-07-22 11:59] SimenB commented on #334
Pasting in the snippet in the OP fails for me.

Diff with failing test:

[code]

[2019-07-22 12:09] G-Rath commented on #334
eeekkkk but totally what I expected - I'll try and wipe up a fix asap.

[2019-07-22 12:20] SimenB commented on #334
The _real_ fix is to handle `describe.each`. The _quick_ fix is to not recognize it as a `describe` - `each` is pretty different, so I think really fixing it is a bit more work than needed

[2019-07-22 12:24] G-Rath commented on #334
One step ahead of you ;)

I'm going to make a quick fix to ignore `each`, and open a new issue to support `each`.

The rule readme actually excludes `each`:

[2019-07-22 13:07] G-Rath opened #336 "valid-describe should support describe.each"
As per #334, `valid-describe` currently doesn't support `describe.each`, instead just bailing out.

[2019-07-22 13:08] G-Rath commented on #334
Sorry my quick fix ended up not being so quick as I got distracted finishing off the conversion for `prefer-todo` :joy:

[2019-07-22 14:13] SimenB commented on #334
:tada: This issue has been resolved in version 22.13.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 14:37] tmorehouse opened #338 "Upgrading from 22.13.0 -> 22.13.1 fails on with `jest/globals` set in env"
Upgrading from 22.13.0 to 22.13.1 is now causing the following error for us:

[code]

Our `.eslintrc.js` file:

[code]

[2019-07-22 14:40] aknorw commented on #338
That's not the only issue with 22.13.1:

[code]

My `eslintrc.json` file:

[code]

[2019-07-22 14:43] topaxi opened #339 "TypeScript dependency?"
Does this plugin need typescript installed? There is no mention in the README, yet our setup crashes with `Cannot find module 'typescript'` once we installed this plugin.

[2019-07-22 14:45] topaxi commented on #334
Wow! Thanks for the quick fix! <3

[2019-07-22 14:46] aknorw commented on #339
I have the same issue, described here: https://github.com/jest-community/eslint-plugin-jest/issues/338#issuecomment-513820554

[2019-07-22 14:48] duncan-thacker commented on #339
Same problem here, using a non-typescript project. I get

Error: Failed to load plugin 'jest' declared in '.eslintrc.json': Cannot find module 'typescript'

Reverting to 22.13.0 fixes the problem.

[2019-07-22 14:53] topaxi commented on #334
For some reason, this now triggers on completely unrelated code:

[code]

[code]

[2019-07-22 14:59] SimenB commented on #339
Bah, I thought this was fixed (https://github.com/typescript-eslint/typescript-eslint/pull/584)... Should have verified manually, sorry! As a quickfix I'll add typescript as a dependency.

/cc @bradzacher

[2019-07-22 15:01] #339 closed

[2019-07-22 15:08] SimenB commented on #339
:tada: This issue has been resolved in version 22.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 15:14] bradzacher commented on #339
https://github.com/jest-community/eslint-plugin-jest/blob/d0a84286702afa794c2ff4b908b020d1a8b1ecbf/src/rules/valid-describe.ts#L1

VSCode's auto-import got you!

typescript will happily auto-import `@typescript-eslint/typescript-estree`, even if it's a transient dependency.
This would normally be fine, but `typescript-estree`'s `index.js` has a hard import on typescript.
typescript-eslint/typescri

[2019-07-22 15:18] SimenB commented on #339
Yeah, I just noticed when trying to create a bug report for you 😅 Yup, I was gonna add that rule when I noticed the error. Thanks!

[2019-07-22 15:23] SimenB commented on #339
Pushed 7f1867bd22374a05e163d1af2d24ece7d74ae74e

[2019-07-22 15:23] tmorehouse commented on #338
Upgrading to the new 22.13.2 appears to fix the issue

[2019-07-22 15:23] #338 closed

[2019-07-22 15:24] SimenB commented on #338
@aknorw your issue should be solved with 22.13.3 (22.13.2 had a hacky fix).

@tmorehouse that's interesting (and good to hear!). I was just to post that I was unable to reproduce, what an odd error... We have changed nothing except for rule's implementations, which shouldn't affect the `global` thing...

[2019-07-22 15:48] SimenB commented on #334
what in the world...

[2019-07-22 16:06] SimenB commented on #334
Oh, it's the `in DescribeAlias` things. It has a property called `hasOwnProperty`

[2019-07-22 16:08] SimenB commented on #334
I'm trying to push a fix, but GH is having issues... https://www.githubstatus.com/

[2019-07-22 16:10] #334 closed

[2019-07-22 16:17] SimenB commented on #334
:tada: This issue has been resolved in version 22.13.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.13.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 17:05] ranyitz opened #340 "False positives for `no-identical-title` rule"
## The Problem
Given the following code (simplified version of the use-case):

[code]

We get the following error:

[code]

## Why it Happened?

As part of #316 & #317 we now treat `test.<anything>()` as a test case. While only `(test|it).skip`, `(test|it).only` & `(test|it).todo` are Jest valid options.

In a project that works with `it`s and `describe`s it's possible that a user will choose the

[2019-07-22 17:24] SimenB commented on #340
Should check that `expect`, `test`, `it` and `describe` are globals and not defined locally. We have a util for this already: https://github.com/jest-community/eslint-plugin-jest/blob/b27c80d9aba8d68d158414350db9b1047dbabf52/src/rules/tsUtils.ts#L249-L261

Wanna send a PR?

[2019-07-22 17:26] ranyitz commented on #340
@SimenB That's a much better solution 👍

Sure, I'd love to!

[2019-07-22 17:29] SimenB commented on #340
Awesome! Should be enough to add the check to the `is{ExpectIdentifier,TestCase,Describe,Hook}` utils and we shouldn't be caught out by something like this again

[2019-07-22 17:33] SimenB commented on #340
Thinking about it, it's probably a somewhat expensive call, I'm not sure if we're able to cache it on a single file somehow? If not, might be best to just export a util we can call in rules that's e.g. `isGlobalExpect` or something, which can be used to bail early in rules. Not sure what makes the most sense 🙂 @G-Rath maybe has ideas?

[2019-07-22 17:38] ranyitz commented on #340
@SimenB yes, also when thinking about it, verifying `skip|only|todo` after `test/it/describe` would be good in any case. We're using the `isTestCase` util in many places and can get some obvious false positives like `test.fooBarBaz`.

[2019-07-22 17:41] SimenB commented on #340
We also have `test.each` though, and I think some future rule might be checking that you use only existent members makes sense. Not sure.

A first go can of course limit this to the known members, which was the case previously.

[2019-07-22 17:43] ranyitz commented on #340
@SimenB Yeah you're right, we should add `each` to the list of valid properties.

[2019-07-22 20:42] #340 closed

[2019-07-22 20:48] SimenB commented on #340
:tada: This issue has been resolved in version 22.13.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.13.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 22:10] benmonro commented on #312
this is already supported by just setting the maxSize to zero on no-large-snapshots

[2019-07-22 22:14] benmonro opened #342 "valid-describe with expect"
curious if we can/should modify valid-describe to report an error if it finds an expect in a describe.

for example:

[code]

jest won't report that as a test so wondering if it should be reported as an error.  if it should be reported should we put that in valid-describe or in a standalone rule called `no-standalone-expect`

thoughts?

[2019-07-22 23:22] G-Rath commented on #256
Well, this went about as well as I expected - I woke up to about 20 emails for this repo, half of which being semantic bot :joy:

but seriously it actually did go as expected: the bugs I've seen are pretty much what I expected, and the fixing PRs have been great, and will make everything more stable.

I'll look to power through getting the rest of the rules converted over the next couple of days.

[2019-07-23 00:52] SimenB commented on #256
Heh, yeah... It wasn't too bad, though!

[2019-07-23 00:55] SimenB commented on #342
I like this idea. A separate rule throwing if an `expect` is outside of a test case might make sense? Potentially with a flag that just disallows it in hooks and `describe`s (so people can use helper functions for shared assertions), maybe? I don't think it needs to be coupled to `valid-describe`. _Could_ stick it in `valid-expect`, but I think that's already getting super advanced and a separate

[2019-07-23 00:57] SimenB commented on #340
:tada: This issue has been resolved in version 22.13.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.13.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-23 05:20] topaxi commented on #334
Thanks again for the quick fixes ❤️

[2019-07-23 09:11] SimenB commented on #81
People can use `overrides` to enable/disable the core rule for any files they want

[2019-07-23 09:11] #81 closed

[2019-07-23 09:15] glickel opened #347 "valid-expect does not work with then"
Hello, I have a problem with `jest/valid-expect` rule, it seems to not work when I put a `.then` after a `.rejects` or a `.resolves` like this:

[code]

When I disable the rule `jest/valid-expect` or I remove the `.then` it works well.

[2019-07-23 10:31] SimenB commented on #347
I'd recommend using `async-await` instead

[code]

However, the code you write _is_ valid, so it shouldn't complain

/cc @yatki

[2019-07-25 21:30] yatki commented on #347
@SimenB #352 hopefully this would fix it.

[2019-07-25 21:37] #347 closed

[2019-07-25 21:44] SimenB commented on #347
:tada: This issue has been resolved in version 22.13.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.13.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-26 09:35] glickel commented on #347
Thank you :)

[2019-07-26 18:44] #342 closed

[2019-07-26 18:50] SimenB commented on #342
:tada: This issue has been resolved in version 22.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-27 00:58] G-Rath opened #354 "[no-standalone-expect] allow specifying what to consider a test block via an option"
This is pretty much the equivalent of `expect-expect`'s `assertFunctionNames` option: We should support consuming an array of arbitrary strings of which we should consider as "test blocks".

This would allow extensions to work nicely with this rule, such as [`jest-each`](https://github.com/jest-community/eslint-plugin-jest/pull/350#issuecomment-515569004).

It's probably best to just to make the d

[2019-07-28 20:35] G-Rath commented on #256
@SimenB Just wanted to let you know I've not forgotten about this 😉

I've got 2 rules left to convert, and the new guards + expect parser is working a treat.

Life got a bit busy once I got back, but I hope to have a PR for review by midweek.

As an example of how nice the new expect stuff is: `prefer-to-be-null` & `prefer-to-be-undefined` took literally 5 minutes to convert, despite being the two

[2019-07-29 08:21] SimenB commented on #256
This is super exciting 😀

[2019-07-29 09:04] G-Rath commented on #256
Except I missed the fact that you can chain modifiers (i.e `resolve.not`) 😭

Not a big deal since we only really check for them in `valid-expect`, but means I have to code up a linked-list style loop to the parser which are always a bit tedious in TS

[2019-07-29 09:14] SimenB commented on #256
You can only have `expect().not.toBe()`, `expect().resolves.toBe()`, `expect().rejects.toBe()`, `expect().resolves.not.toBe()` and `expect().rejects.not.toBe()`. So I don't think we necessarily need a linked list? If we can say a parsed `expect` may or may not be `not`, and it might be either `resolves` or `rejects`. Dunno, might make it hard to do `.parent` etc?

[2019-07-29 09:32] G-Rath commented on #256
Interesting. The typescript types allow it, but it fails at runtime: http://puu.sh/DYIn4/7278eb6827.png

When I say "linked list" it's not anything complex, just:

[code]

It was more a bit of a shock b/c I'd not considered it, and so it wasn't in the output 😬
Doing it this way means I don't have to refactor anything else, and also has the bonus of requiring the previous modifier to be defined (ot

[2019-07-29 11:28] SimenB commented on #256
That should probably be a type error, yeah. The Jest team doesn't maintain those typings, but Jest's internal typings are probably wrong in this regard as well. I'll make a point to fix it before releasing Jest 25

[2019-07-29 23:18] G-Rath commented on #256
Ahh I see how it is - I had a proper read over everything, and yeah that loop while nice is overkill (plus the types are murder):

[code]

So the allowed modifiers are:

`not`
`resolves`
`rejects`
`resolves.not`
`rejects.not`

However, `valid-expect` doesn't actually check for that. In fact, it has those in it's tests as *valid*.
In fact, the majority of it's `not` valid tests have `not` *first*.

[2019-07-30 19:59] garyking opened #356 "New rule suggestion: Place all hooks at the top of the block."
I would like to suggest a new rule, to place all hook blocks before any other blocks.

So, this is good:

[code]

And this is bad:

[code]

[2019-07-30 20:54] G-Rath commented on #356
Sounds like it could be useful - I'd think a good target goal would be something like "all hooks must be above the first test case in a block".

PRs welcome 😄

[2019-07-31 00:14] garyking opened #357 "Crashes when `expect` with no following statement."
If you have code like `expect()` without anything after, like `toBe`, then it crashes the linter. It shouldn't crash the linter. I imagine Jest would do enough to notify you that something is wrong, or at least the linter should indicate that the following statement is missing.

Sample code:

[code]

Which results in the following error when linting:

[code]

[2019-07-31 00:31] G-Rath commented on #357
This shouldn't be happening!

I'm going to make a quick patching PR, but this is one of the problems that'll be fixed once we've finished converting to TypeScript (I've rewritten all the guards, for exactly this sort of use-case).

This should be covered by the `valid-expect` rule - All other rules should just gracefully bail under the idea that `valid-expect` will handle making noise about the va

[2019-07-31 08:00] SimenB commented on #357
It should be flagged by `valid-expect`, yes. Jest itself has no way of detecting whether a matcher is used or not

[2019-07-31 08:43] #357 closed

[2019-07-31 08:50] SimenB commented on #357
:tada: This issue has been resolved in version 22.14.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-31 12:20] ark120202 opened #359 "Rule proposal: Formatting specifiers in .each test names"
In `.each` test (and describe block) names it's possible to use [printf-like formatting](https://jestjs.io/docs/en/api#1-testeachtable-name-fn-timeout).
I would like to have a new rule (or 2 rules) that would:
* Enforce usage of at least one specifier in .each test name (should it be a part of `no-identical-title`?)
* Disallow usage of these specifiers in regular test names, since it likely means

[2019-07-31 18:23] alexkrolick commented on #297
Dupe of #244

[2019-07-31 18:24] alexkrolick commented on #244
(still planning on doing this)

[2019-07-31 20:15] jeysal commented on #297
true

[2019-07-31 20:15] #297 closed

[2019-07-31 20:21] jeysal commented on #359
Good idea. Would recommend not putting it into `no-identical-title` because a config option seems weird for a completely separate part of rule logic. Might want to include both suggestions in one though since they share the format string parsing of test names.

[2019-08-01 19:46] G-Rath opened #361 "Fix changelog generation"
Currently our [CHANGELOG](https://github.com/jest-community/eslint-plugin-jest/blob/master/CHANGELOG.md) is very out of date, which makes people sad 😢

It [should be being handable](https://github.com/jest-community/eslint-plugin-jest/commit/924daedc7bdc00a757bb534138bd4ca65b5a281f) by `@semantic-release/changelog`, but that [was reverted due to config issues](https://github.com/jest-community/esl

[2019-08-01 19:55] G-Rath commented on #256
[code]

Guess who got `valid-expect` typesafe last night ;)

I've just got `no-large-snapshots` to convert, which will be interesting b/c it uses `babel-eslint` - hopefully it'll have TS typings, but if not I might have to leave that one to you @SimenB

I expect to have a PR by EOD today (~8 hours) 😄

[2019-08-04 12:04] yavorsky opened #362 "Support `max-describe-nesting-level` rule."
Currently we don't have any rule that could control level of `describe`'s nesting.

[code]

Good
[code]

Bad
[code]

I can implement this (with better examples 👀) if you are good with this rule?

[2019-08-04 12:15] G-Rath commented on #362
Go for it!

I'm actually literally right in the middle of making a big PR for the final round of TS conversations, which includes a new set of Typescript guards & whatnot, so I'd advise branching off that [branch](https://github.com/jest-community/eslint-plugin-jest/tree/ts-migration/everything-else) when doing the implementation.

I don't expect that to have a big impact on your PR, and more than

[2019-08-04 12:20] yavorsky commented on #362
@G-Rath Thanks for this!

I'll work on your branch and can open a PR into it unless you merge it before.

Anyway this change shouldn't affect a lot of files across project and just add new one, so rebasing wouldn't be a problem here.

[2019-08-04 12:42] G-Rath commented on #196
@SimenB did you ever end up opening up an issue for this?

[2019-08-04 12:53] G-Rath commented on #332
Bamn - TS conversion fixed this.

Do we want to add a test case for this?

It's a generic problem, and in order to have a test for it we'll have to set the `parser` for `RuleTester` to `RuleTester` parser to be set to `@typescript-eslint/parser`, b/c of the `as`:

[code]

If we want a test case, I think ideally it should be added to the "standard tests" object I'm going to look to make, in which c

[2019-08-04 13:21] SimenB commented on #196
Ergh, I don't think so

[2019-08-04 13:22] SimenB commented on #332
Yes :)

[2019-08-04 13:24] SimenB commented on #362
Sounds like a fantastic rule, yeah!

[2019-08-05 06:04] G-Rath commented on #332
<details>
<summary>Here's the fix</summary>

[code]
</details>

I'll make a PR once #363 is merged

[2019-08-05 20:24] G-Rath commented on #209
I've put a similar comment on your PR, but felt I should also make a comment here, just as this feels like the better place to discuss the overarching issue:

Personally I feel this is a problem with your file scoping, rather than with the rule itself.

This plugin is targeted at linting files that are considered "jest tests", and so assumes anything it's given is based within a test suite.

If we

[2019-08-05 20:49] garyking commented on #209
Okay I guess targeting test files is the only way to do this then.

[2019-08-05 20:50] #209 closed

[2019-08-05 20:52] G-Rath commented on #209
I still think it's good that we have this issue & discussion on record, so cheers for that :)

Just so it's here for anyone who finds their way to this issue, heres an example of how you could disable the rule for `__mocks__`:

[code]
  "overrides": [
    {
      "files": ["*/__mocks__/*"],
      "rules": {
        "jest/prefer-spy-on": "off"
      }
    }
  ],
[code]

[2019-08-05 21:12] garyking commented on #209
With this `files` setting, if `__mocks__` is in the project's root dir, then it won't match this `override`. Is there a way to match those, while still matching `__mocks__` dirs in subdirs?

[2019-08-05 21:18] G-Rath commented on #209
You can use multiple patterns yes, but you should also be able to cover it w/ a single glob pattern, which I thought mine should do...

You might need `**` instead of `*` - my globbing isn't super strong; it otherwise could just be b/c of the paths being used you have to account for `/*/__mocks__/` somehow (if that makes sense).

Eitherway, using multiple patterns will definitely cover it :)

[2019-08-05 21:23] garyking commented on #209
Yeah I decided to use `files: ['**/__mocks__/*.js'],`.

[2019-08-06 08:48] G-Rath opened #369 "[prefer-to-contain] handle bracket accessor properties"
Once #363 is merged, `prefer-to-contain` should be adjusted to support bracket accessor properties:

[code]

[2019-08-06 08:51] G-Rath opened #370 "no-large-snapshots should not care about file types"
Currently, `no-large-snapshots` checks if the file being linted ends w/ the `.js` file extension, preventing it from linting other files, such as `.tsx`, `.ts`, & `.jsx`.

This file check should be removed.

https://github.com/jest-community/eslint-plugin-jest/blob/85e4195ecb9373befd42018a8fe4f4bb13cfa629/src/rules/no-large-snapshots.js#L88

[2019-08-06 09:53] SimenB commented on #370
Potentially a breaking change, but I'd call it a bugfix...

It was added in #186, @JohanBrorson thoughts on just removing the check? We should just `return` from the `.snap` `if`

[2019-08-06 09:58] G-Rath commented on #370
I can confirm that it does mean `.ts` files won't be linted by this rule.

Aside from that, I wouldn't really call it "breaking" per say, for the same reason `prefer-to-spyon` shouldn't bother trying to figure out if it's in a test file: `eslint-plugin-jest` is only meant for jest tests suites.

[2019-08-07 18:13] scottsheffield commented on #292
If I want to run any specific rules on .snap files, right now they're swallowed by the processor because the processor removes anything that isn't no-large-snapshots.

I'd like to see this written more configurably such that the processor could be bypassed / made optional

[2019-08-07 19:17] SimenB commented on #292
Aha, gotcha. Wanna send a PR? I'm not sure how this is normally handled

[2019-08-07 21:49] G-Rath commented on #292
Let me know how you get on w/ this - I have an idea on how to implement a solution, but will leave it for now, as I'm focusing on the TS conversation :)

[2019-08-11 06:40] scarcoco commented on #338
i use  `npx react-native int Demo` create a new project with the same issue, and i see the version of eslint-plugin-jest, it's 22.4.1.

@react-native-community/eslint-config had locked it version.

[2019-08-11 06:41] scarcoco commented on #338
[code]

[2019-08-11 08:15] scarcoco commented on #338
i get why

because i open from parent directory of project, not project directory

[2019-08-11 10:57] G-Rath commented on #336
I'm wondering if this should be a separate rule? (`valid-describe-each`).

Just b/c the domains are nicely encapsulated - otherwise `valid-describe` is going to get pretty bloated & strung out.

[2019-08-11 12:28] SimenB commented on #336
I think conceptually it doesn't make sense to separate them, even though the implementation might be a bit big. But branching inside of it into what's essentially to separate rules can work? Without increasing implementation complexity

[2019-08-12 12:06] SimenB commented on #73
I think the way `tsUtils` is shaping up covers this. We might wanna revisit after all rules are converted to TS, but the utils are in way better shape now

[2019-08-12 12:06] #73 closed

[2019-08-12 12:08] SimenB commented on #202
The typescript utils require this to be defined, so this'll be fixed by completing the migration tracked in #256

[2019-08-12 12:08] #202 closed

[2019-08-12 21:23] chrisblossom opened #389 "prefer-spy-on fix breaks/changes tests"
Currently the autofixer for `jest/prefer-spy-on` breaks/changes the behavior of the test by re-implementing the original behavior of the function (which may or may not be wanted).

For example, `Date.now = jest.fn()` becomes `jest.spyOn(Date, 'now')`, but it should be `jest.spyOn(Date, 'now').mockImplementation()`. If a function is provided to `jest.fn()` it works as expected.

[2019-08-12 23:27] #389 closed

[2019-08-12 23:35] SimenB commented on #389
:tada: This issue has been resolved in version 22.15.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.15.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-13 00:15] G-Rath opened #391 "[valid-expect]: Make number of args allowed by a "valid" expect configurable"
Currently we only consider an expect valid if it has a single argument - otherwise we report that it has multiple arguments and thus is invalid.

While this is true for vanilla jest, it's possible to modify expect to be valid w/ more than one argument, such as via [`jest-expect-message`](https://www.npmjs.com/package/jest-expect-message).

Hence, we should make this a configurable option.

[2019-08-13 00:17] G-Rath commented on #391
I'll do this in a few hours when I'm off work :)

It'll just be something like "maxArgs" that takes a number.

@SimenB do you know of any other libraries that modify the number of arguments `expect` can take?

In particular, I'm interested in if there are any that add required arguments (I'd imagine not, but I've not explored the jest ecosystem much).

[2019-08-16 07:23] SimenB commented on #256
This is done! Thank you to everyone who contributed, and especially @G-Rath who did all the hard work 🎉

[2019-08-16 07:23] #256 closed

[2019-08-19 10:51] bodinsamuel opened #401 "[new-rule] Enforce top level describe"
Hello everyone,

Jest, and most testing library, let you write and organise your tests as you want, which is good but it can become a mess with large testing codebase.
(Somewhat similar to #362 and `no-standalone-expect` )
It would be super cool to have a rule to enforce a top-level describe and make sure no `test`, `it`, `beforeAll` etc... can live outside this describe.
Maybe it can be something

[2019-08-19 11:41] SimenB commented on #401
Sure, I'm down with that 🙂

[2019-08-21 13:16] SimenB commented on #332
@G-Rath can we fix this now?

[2019-08-21 20:09] G-Rath commented on #332
@SimenB Sure can! #403 has got your back.

Sorry for the delay - a few things popped up that stole my attention, combined w/ tackling `no-untrimmed-title` 😬

[2019-08-21 20:14] #332 closed

[2019-08-21 20:21] SimenB commented on #332
:tada: This issue has been resolved in version 22.15.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.15.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-27 06:08] pladaria opened #405 "[valid-expect-in-promise] Problem chaining .then's"
using eslint-plugin-jest v22.15.2

This reports an error:
[code]
If I remove the last `.then`, no error is reported:
[code]
The following doesn't report error, so perhaps the problem is not in chaining:
[code]

[2019-08-27 08:58] SimenB commented on #405
@tushardhole any idea?

[2019-08-29 07:34] thomlom commented on #401
Hi! That's something I was looking for as well and I would like to give it a try by opening a PR. Does it work for you? 🙂

[2019-08-29 07:38] SimenB commented on #401
Go for it!

[2019-08-29 07:48] bodinsamuel commented on #401
That would be awesome @thomlom 🙏

[2019-08-29 09:10] pladaria commented on #405
Cannot reproduce in 22.15.0

[2019-08-29 10:35] G-Rath commented on #405
[code]

[2019-08-29 19:51] #401 closed

[2019-08-29 19:57] SimenB commented on #401
:tada: This issue has been resolved in version 22.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-30 08:04] bodinsamuel commented on #401
Amazing, this is perfect. A big thanks to both of you 🙏

[2019-08-30 08:04] gayathrigs27 commented on #247
I will take this up

[2019-08-30 08:31] overlookmotel commented on #247
@gayathrigs27 Great!

Which variant are you planning to implement? My favoured one was a `name-case` rule as that covers all possibilities. I'm not sure if the maintainers would accept that though.

[2019-08-30 12:36] gayathrigs27 commented on #247
I thought of using the approach SimenB suggested

[2019-09-03 15:17] FDiskas opened #408 "add Typescript support v3.6.2 in eslint-plugin-jest@22.16.0"
In my project i got warning in terminal
[code]
This message comes from `@typescript-eslint/typescript-estree` witch is dependency in your module.

`npm list @typescript-eslint/typescript-estree`
[code]
Please upgrade dependency `@typescript-eslint/experimental-utils` to latest version

[2019-09-03 15:25] FDiskas opened #410 "drop Node.js: 6 support"
Remove nodejs v6 from travis and do not support it any more

https://github.com/nodejs/Release#end-of-life-releases

[2019-09-03 15:26] SimenB commented on #408
2.1.0 does not include https://github.com/typescript-eslint/typescript-eslint/pull/916, btw, so you'd still get the warning even if we upgrade

[2019-09-03 15:28] SimenB commented on #410
Yeah, we'll do this and some other breaking changes at the same time. Thanks for opening up an issue though, it's good to track this!

[2019-09-05 12:16] JrSchild opened #411 "prefer-to-have-length does not take `toStrictEqual` into account"
The [prefer-to-length-rule](https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/prefer-to-have-length.md) only warns on `toBe(n)` calls, but not on `toStrictEqual(n)`. Which is pretty much the same.

Can we get support for this?

[2019-09-05 14:14] #411 closed

[2019-09-05 14:22] SimenB commented on #411
:tada: This issue has been resolved in version 22.17.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.17.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-09 08:59] AndyOGo commented on #270
I get a similar error with `"eslint-plugin-jest": "^22.17.0",`:

[code]

[2019-09-09 09:23] AndyOGo commented on #270
@SimenB Thanks for your reply, I just edited my comment above.
All fine, had to re-install the ESLint plugin for VSCode 😕

[2019-09-10 07:31] Rogdham commented on #408
2.2.0 does include https://github.com/typescript-eslint/typescript-eslint/pull/916 now :tada:

[2019-09-10 07:31] SimenB commented on #408
yup, I'll be making a new release this week

[2019-09-23 07:43] Svish opened #415 "Add style to rules table in readme"
Would be helpful if the table in your readme (which currently shows which rules are fixable and which ones are in the recommended rule-set) also showed which rules are in your style rule-set.

🙂👍

[2019-09-23 14:00] marcohamersma opened #416 "False negatives when using variable named `fit` (`no-focused-tests` & `no-test-prefixes`)"
Heya,
I have a module called `fit` which is being imported in a non-test file. However, this plugin seems to think that this file has a test in it (because it searches for "`it`" ?) and throws two errors:

[code]

![Unexpected focused test  jest/no-focused-tests
Use "it.only" instead    jest/no-test-prefixes](https://user-images.githubusercontent.com/577144/65429453-1a14f400-de0e-11e9-92fb-b8f3fb5

[2019-09-23 14:23] jeysal commented on #416
It also searches for `fit`, which is an API equiv. to `it.only`.
But yeah if `fit` is imported from somewhere else these warnings should not be shown.

[2019-09-23 16:13] SimenB commented on #416
We should check it's a global, yeah

[2019-09-23 18:50] G-Rath commented on #416
I feel like this might have the same solution as #209
iirc, it's actually a lot of work to check if something is imported globally every time (but I might be thinking of variables)?

@SimenB what rules already do this?

[2019-09-23 19:34] SimenB commented on #416
Any rule using `scopeHasLocalReference`

[2019-09-23 20:15] G-Rath commented on #416
Yeah that is what I was thinking of.

I don't think it'll be a performance killer, but it always struck me as being a decent amount of work relative to everything else, so it'll be interesting to see if it has any noticeable effect if we start calling it for literally every rule multiple times over.

The main optimisation I'm thinking about is reusing the results of `collectReferences`.

I'll have

[2019-09-24 09:06] marcohamersma commented on #416
I guess part of the problem might also be that it's looking inside a file that wouldn't normally be loaded by jest. By default jest seems to only load files ending in `.test.js`, `.spec.js`, etc…, so maybe this behaviour can be mirrored?

Might not be the ideal solution, but it would probably also lower the probability of errors like this?

[2019-09-28 17:24] SimenB commented on #415
#417

[2019-09-28 17:24] #415 closed

[2019-09-29 01:08] G-Rath opened #418 "rfc: supertest support"
This could be technically out of scope for `eslint-plugin-jest`, but I've been using `supertest`, and some of our rules don't really work nicely w/ it:

[code]

`jest/expect-expect` can't handle `.expect` as a method being called on something, so I have to add `request`, which means I could forget a `.expect` and have problems.

It'd also be great to support warning that `request` needs to be eith

[2019-09-30 14:34] jeysal commented on #418
Seems like this also falls into a more general category of "asserting" that a promise resolves (does not reject or timeout), it could even be legitimate without any `.expect`s right?

I think we should leave this for [no-floating-promises](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-floating-promises.md) to do. Of course for non-TS users

[2019-09-30 15:12] SimenB commented on #418
I don't think this belongs this plugin. Seems more natural in a `eslint-plugin-supertest` or whatever.

We use supertest at work, but we never use the assertions from it. Mostly because they don't give proper stack traces.

[code]

(written free hand, haven't looked up the actual APIs)

[2019-10-05 00:15] wareczek opened #426 "add support for ESLint v6"

[2019-10-05 00:36] G-Rath commented on #426
I assume this is b/c you get deprecation warnings?

This'll be upgraded as part of #410, as it requires us to drop Node 6 support.

@SimenB is there a rough ETA for that? We're mainly tied to `jest` right?

[2019-10-05 00:37] G-Rath commented on #410
@SimenB is there a rough ETA for when we can do this?

btw I'm happy to handle the general upgrading & updating of everything to new versions once you give the greenlight :)

[2019-10-05 05:29] suganya-sangith commented on #273
Shall I start working on it?

[2019-10-05 06:10] G-Rath commented on #273
@suganya-sangith if you've got the time, go for it! I'd love to see this rule, but haven't had the time to finish off my implementation.

Feel free to tag me in the PR, and I'll review it 🙂

[2019-10-12 01:31] #356 closed

[2019-10-12 01:38] SimenB commented on #356
:tada: This issue has been resolved in version 22.18.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-16 13:53] ulrichb opened #431 "[valid-describe] Support functions as 'name' argument"
Since Jest 22 `describe()` also allows function references as "name" (instead of a string).

See https://github.com/facebook/jest/pull/5154.

See also the TS typing: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f79c08624659aea629bf0d1dc2f30a15e2c68383/types/jest/index.d.ts#L390

This is not supported by `valid-describe`:

[code]

=> Emits "error  First argument must be name  jest/valid-

[2019-10-16 19:12] G-Rath commented on #431
Thanks for reporting this.

On the surface it seems easy, but it's actually an interesting problem, b/c it's possibly a lot of work to determine what's valid in that situation.

I feel that this is the point where you'd be best to disable `valid-describe`, as the problem is one that requires static analysis (i.e TypeScript) rather than a linter, since you can pass pretty much anything.

I'm not go

[2019-10-16 20:23] daniellacosse opened #432 "test.concurrent support"
it appears that the linter ignores `test.concurrent` calls, for example - currently I have the `jest/no-empty-title` rule enabled:

![Screen Shot 2019-10-16 at 16 20 16](https://user-images.githubusercontent.com/3759828/66955798-1cdfbf00-f031-11e9-89b1-ab5ecbdcd681.png)

with just `test`:

![Screen Shot 2019-10-16 at 16 20 28](https://user-images.githubusercontent.com/3759828/66955809-25d09080-f03

[2019-10-16 20:32] G-Rath commented on #432
Ah yes - I missed that b/c of it's undocumented nature.

From memory it shouldn't be too much trouble to add it, just a matter of finding the time :joy:

[2019-10-16 20:34] daniellacosse commented on #432
@G-Rath point me at where i need to do the thing and I'll do the thing

[2019-10-16 20:41] G-Rath commented on #432
@daniellacosse from memory, a couple of things need doing:

* `concurrent` needs to be added as a value in the right enu,
* `concurrent` should be checked for what it supports, as while I suspect it is only `test.concurrent`, we need to know if `it.concurrent`, `test.concurrent.only`, `test.concurrent.each`, etc are valid in jest.
* All the rules should be checked, as `jest/no-empty-title` isn't t

[2019-10-16 20:47] wareczek commented on #426
@G-Rath I mean devDependency support for ^6 there:
https://github.com/jest-community/eslint-plugin-jest/blob/master/package.json#L56

Something like this:
https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/package.json#L66

[2019-10-16 21:45] garyking commented on #431
Sometimes I'll use some weird things to name `describe` blocks, like regular expressions. But I'll always run `String()` on them first, so that they become a string. This rule throws an error on that. Same for `JSON.stringify()`, I imagine. Would be nice if it didn't.

[2019-10-16 21:55] G-Rath commented on #431
That's the can of worms I was thinking of :)

What you're asking is for us to resolve the type of the parameter at runtime, which is static analysis, and best left to the likes of TypeScript.

Again, not closing this just yet b/c I'm going to think on it for a bit for if there are any easy wins, and to get more opinions, ideas, input, etc, but I can say that whatever we come up w/, ultimately Type

[2019-10-17 00:04] garyking commented on #431
I would just say to give us an option on the rule, to disable checking the name field, since this rule also does other checks as well.

[2019-10-17 01:12] suganya-sangith commented on #313
@cartogram  I have recently added a PR for valid-title rule, you could incorporate this case to the same rule.

[2019-10-17 01:38] ulrichb commented on #431
+1 for a "validate name argument" option

[2019-10-17 13:39] daniellacosse commented on #432
fyi it's definitely all the rules, i've just included `jest/no-empty-title` as an example.

[2019-10-17 21:23] jeysal commented on #431
Maybe this helps:
[code]

We could ofc also consider specifically allowing `String(whatever)`

[2019-10-23 17:37] G-Rath opened #435 "[valid-title]: TypeError when no arguments passed to test: Cannot read property 'type' of undefined"
[code]

[code]

[2019-10-23 19:42] #435 closed

[2019-10-25 08:10] unkhz opened #437 "Rule no-identical-title fails with JS error"
The following failure is shown given the rule is enabled and the default formatter is used (stylish). Using the json formatter works correctly.
[code]

My config is this
[code]

And the failing test suite is this
[code]

Workaround is to disable the rule
[code]

Version of `eslint`: v4.10.0
Version of `eslint-plugin-jest`: 22.20.0

[2019-10-25 08:23] G-Rath commented on #437
I'll try to have a look into this, but I'm pretty sure this isn't related to us, since the stacktrace contains (ironically) no trace of `eslint-plugin-jest`.

[2019-10-25 08:37] G-Rath commented on #437
I've looked into this, and can reproduce it with the exact `eslint` version you mentioned.

The line itself is this:

[code]

It's b/c of the `message.message.replace`, but as I said we don't support `eslint@4`; eslint must have changed how they outputted messages in later versions, so I don't think we could fix this even if we wanted to.

However, there is good news for you - this doesn't happen

[2019-10-25 08:37] #437 closed

[2019-10-25 08:38] unkhz commented on #437
Makes sense. I also noticed that upgrading even the version 4 to the latest (4.19.1) fixes the issue.

[2019-10-26 08:34] SimenB commented on #435
:tada: This issue has been resolved in version 22.20.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest)
- [GitHub release](https://github.com/jest-community/eslint-plugin-jest/releases/tag/v22.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-26 22:12] G-Rath commented on #431
FYI I'm going to be moving this into `valid-title`, just b/c of code structure.

From everything I can tell, only `describe` supports names that are not `string`, so `valid-title` will handle checking the title, but have an `ignoreTypeOfDescribeName` option that should solve this :)

[2019-10-27 08:14] SimenB commented on #432
that's a bug, mind opening up and issue at facebook/jest?

[2019-10-27 08:17] SimenB commented on #426
`devDependency` doesn't matter for you - it's only local to this repository. The plugin should already support eslint v6 (we use those together at work). it's in our `peerDependency` range already, so there's nothing for us to do here.

https://github.com/jest-community/eslint-plugin-jest/blob/8c850ffaabaf7ead5d96559130f801e6155efdc5/package.json#L25-L27

unless you're getting some kind of warning

[2019-10-27 08:17] #426 closed

[2019-10-27 22:08] #410 closed

[2019-10-27 22:08] #408 closed

[2019-10-27 22:08] #431 closed

[2019-10-27 22:08] #296 closed

[2019-10-27 22:26] SimenB commented on #361
23 includes the changelog, but the updated one is not pushed back to the repo.

https://runpkg.com/?eslint-plugin-jest@23.0.0/CHANGELOG.md

so we need to both update the one in this repo and try to commit the changelog back from semantic-release

[2019-10-28 08:23] #361 closed

[2019-10-28 10:37] swissspidy opened #458 "`valid-title`: false positives when using `it.each`"
With version 23, if I'm using something like this:

[code]

The `jest/valid-title` complains about the array not being a valid title.

I see that there have been a few changes to `valid-title` in the last releases. So perhaps an issue like #334 is now appearing again, or at least this one here is very similar.

`src/rules/__tests__/valid-title.test.ts` doesn't have any test cases for `it.each` (ex

[2019-10-28 10:46] G-Rath commented on #458
Hmm interesting - that's b/c of `valid-describe`.

I'll get a fix out shortly.

[2019-10-28 11:07] vrizo opened #459 "[valid-title]: Title string concatenation"
Hi, @SimenB , @G-Rath !

Thanks for the plugin updates! The new `valid-title` is fantastic, but I faced a couple of problems:

1) The plugin considers that string concatenation is the wrong title.

I have lots of tests with titles of more than 80 symbols. I use string concatenation. It worked perfectly until I updated the `eslint-plugin-jest`.

[code]

The new `valid-title` returns an error:

[cod

[2019-10-28 11:07] swissspidy commented on #458
Thanks @G-Rath, I appreciate your quick response!

[2019-10-28 11:15] G-Rath commented on #459
hehe I was looking at adding string concat support just this morning - I'll move my schedule up.

~It's midnight here, so it'll have to be a tomorrow job I'm afraid~. I'll do it now. It's pretty easy: we just need to follow the `BinaryExpression` nodes up until we have all the string literals.

There should have been, but for some reason our changelog generation didn't pick it up.

I'm in agreemen

[2019-10-28 11:23] vrizo commented on #459
Hey, @G-Rath !

Thanks for the quick answer!

Don't worry about the concatenation, I'm sure it can wait :)

[2019-10-28 11:37] #458 closed

[2019-10-28 11:40] #459 closed

[2019-10-28 12:48] vrizo commented on #459
It works, thank you!

[2019-10-28 14:55] daniellacosse commented on #432
seems there is one - https://github.com/facebook/jest/issues/8985

[2019-10-29 14:33] kddeisz opened #463 "jest/valid-describe describe.each false positive"
I can see #334 and #336 are both related, wasn't sure if you would want it reported on one of those or not. Happy to move it if it would be better elsewhere. Here's the violating code:

[code]

It's currently saying `Unexpected argument(s) in describe callback`.

[2019-10-31 21:34] #463 closed

[2019-11-04 09:11] bodinsamuel opened #466 "no-test-callback autofix can produce invalid code"
Hello team,

With the release of `v23` our team had issues with the new recommended rules, and in particular `no-test-callback`.

[code]

This code is marked as `Illegal usage of test callback` which is a fair warning; I would say the `done` usage is more useless than illegal (but just a matter of wording here).

This code will be transformed to:
[code]

Which is:
- not very pretty
- invalid
   -

[2019-11-04 09:29] G-Rath commented on #466
I'm not really sure what we can do about this aside from putting `async` on the executor to make sure valid code is generated.

We'd have to check the entire body for the use of `await`, which is a pretty tough ask, and very error prone.

@SimenB any thoughts on how we could tackle this?

[2019-11-04 14:44] SimenB commented on #466
If the function is an async function, the generated handler should also be `async`. If this later triggers `no-async-promise-executor` that's something the user should fix manually. Mixing `done` callbacks and promises is very error prone.

We could also bail on `async function`s using a callback and just yell at you (not apply the fix)?

My thinking was that people also run `prettier`, so the pre

[2019-11-04 14:57] edbrannin commented on #109
@SimenB I don't quite follow your last comment.  Were you trying to illustrate a situation where changing `expect(foo.mock.calls.length).toBe(x)` to `expect(foo).toHaveBeenCalledTimes(x)` might break something?

(Because I came here wondering if someone had done that rule yet)

[2019-11-04 15:01] bodinsamuel commented on #466
Fine to me ☺️

true, in my setup I need an additional `cmd + s` but not really a blocker ^^

[2019-11-04 15:18] SimenB commented on #466
FWIW we should yell at this in Jest itself at runtime - you should either use the callback _or_ return a promise, never both

[2019-11-04 16:52] SimenB commented on #109
`toHaveBeenCalledTimes` verifies it's called with a mock function - so if you have an object that's _not_ a mock function, autofixing would break your test

[2019-11-06 12:43] rlindner81 opened #467 "Typescript peer dependency should not be needed"
I would like to use this plugin in a project without any typescript, why does it have a peer dependency?
Going from 23.0.1 to 23.0.2 seems to have added this for me.
[code]

[code]

[2019-11-07 09:16] SimenB commented on #336
It doesn't bail out anymore, it has false positives

[2019-11-07 09:18] SimenB commented on #467
It's marked as optional - have you updated your version of npm?

https://github.com/typescript-eslint/typescript-eslint/blob/c8fe51575d743ad317a09c18658c79d45059412b/packages/typescript-estree/package.json#L68-L72

See https://github.com/typescript-eslint/typescript-eslint/pull/990

---

Closing this as I don't think it's an issue. Happy to reopen if it is, though

[2019-11-07 09:18] #467 closed

[2019-11-07 09:54] G-Rath commented on #336
Yeah huh I thought I closed this already 🤷‍♀

[2019-11-07 09:54] #336 closed

[2019-11-07 10:03] SimenB commented on #336
False positives is _worse_ than bailing 😛

[2019-11-07 10:06] G-Rath commented on #336
Well then make an issue 😜

I thought I fixed all the false positives?

[2019-11-07 10:44] SimenB opened #468 "`valid-describe` false positive with `.each`"
Using `23.0.2`.

[code]

[2019-11-07 19:39] G-Rath commented on #468
@SimenB Cheers - I've confirmed this is fixed as I expected.

I guess the rebasing of the commit on master didn't trigger a release?

It should be released when #469 is merged

[2019-11-08 08:29] #466 closed

[2019-11-08 09:33] bodinsamuel commented on #466
amazing, thanks 🙌

[2019-11-08 09:34] rlindner81 commented on #467
No, these trees are taken from the same `npm` version 6.9.0...
This is an issue for us unfortunately. Despite the optional marking `npm ls` will return a non-zero errorcode for the "missing" peer dependency which is interpreted as having an incomplete dependency hierarchy and stops a pipeline I would like to use.
[code]

The change seems to have happened in `typescript-eslint/typescript-estree` of

[2019-11-08 10:14] SimenB commented on #467
npm 6.9 is pretty old, you need at least 6.11: https://github.com/npm/cli/releases/tag/v6.11.0

[2019-11-08 10:18] SimenB commented on #468
Can confirm it's fixed in 23.0.3 👍

[2019-11-08 10:18] #468 closed

[2019-11-08 11:56] rlindner81 commented on #467
Ok, thanks for the info

[2019-11-08 15:53] SimenB commented on #467
That worked? If not, should probably raise an issue with `typescript-eslint` as they explicitly support using their utils without requiring TS by consumers

[2019-11-08 17:18] rlindner81 commented on #467
Well in our exact setup it does not help, but that's fair enough. I will try to move our ops team to update the pipeline's npm version, which will happen eventually. Thanks @SimenB

[2019-11-08 20:58] mrtnzlml opened #470 "Ability to disable "titleMustBeString" in valid-title rule"
Hello! :)

We really like [`valid-title` rule](https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/valid-title.md); however, it got too opinionated in latest releases without possibility to configure it (so we had to disable it altogether 😢). More specifically we would need to disable just the `titleMustBeString` part because we sometimes generate the tests dynamically like

[2019-11-08 21:05] G-Rath commented on #470
@mrtnzlml thanks for raising this issue!

It's actually already possible for `describe` via `ignoreTypeOfDescribeName`.

However, that's about as far as we can go as any further would require us to implement effectively a static analyzer, as we'd have to track variables & identifiers all over the codebase we're linting to determine their type compatibility.

However, you can simply wrap your varia

[2019-11-08 21:05] #470 closed

[2019-11-08 21:14] G-Rath commented on #418
I'm going to close this b/c I think it served its purpose; worse case I can always pop further questions here anyway.

[2019-11-08 21:14] #418 closed

[2019-11-08 21:15] #273 closed

[2019-11-09 14:12] SimenB commented on #416
@marcohamersma people can specify whatever pattern they want, so I don't think this plugin should care about filenames. Maybe if we started loading Jest's config, but I doubt it's worth it.

However, you can use `overrides` in `.eslintrc` to enable/disable rules based on file patterns if you want.

[2019-11-09 20:49] erunion commented on #418
We stumbled upon this with Sinon assertions not being picked up.

[code]

Adding `sinon` (or `calledOnce`) into the `assertFunctionNames` configuration block doesn't get recognized, so it would be cool to be able to add glob-style matching into it. Something like `sinon.assert.*` or `request.*`.

[2019-11-09 20:52] G-Rath commented on #418
Thanks for that @erunion - would you mind opening that as a separate issue for tracking?

At least you should be able to put something like `sinon.assert.calledOnce` into `assertFunctionNames` and have it work.

[2019-11-09 21:00] erunion opened #471 "[expect-expect] support chained function names"
*[see #418 for previous discussion]*

Currently expect/expect doesn't recognize supertest or sinon assertions. For example:

[code]

Adding sinon (or calledOnce) into the `assertFunctionNames` configuration block doesn't get recognized, so it would be cool to:

* Be able to supply full, chained, functions to `assertFunctionNames` like `sinon.assert.calledOnce`.
* It would also be neat to be able t

[2019-11-09 21:55] erunion commented on #471
Turns out adding `sinon.assert.calledOnce` into `assertFunctionNames` works, and has tests, already! It would still be nice to be able to do glob syntax since right now the only way to kind of get supertest matching is to add your common supertest constant name (likely `request`) as a function name, and that's way too general. Not to mention having to duplicate every sinon assertion.

[2019-11-09 22:03] G-Rath commented on #471
Yeah I was pretty sure I'd already implemented that for this exact reason 😄

While I understand globbing sounds useful, I feel like it could be an easy footgun since it could result in non-assertion method being counted by mistake.

Plus as soon as you have "globbing" people generally expect it to work in a similar way to how it does everywhere else, so we'd have to add a new dependency for someth

[2019-11-12 08:22] DimaDK24 commented on #313
Will be cool if this is added to the `valid-title` rule or added as a new rule :)

[2019-11-12 09:02] G-Rath commented on #313
@DimaDK24 I'll look at adding this on the weekend :)

[2019-11-18 15:51] eschaefer opened #478 "Plugin matches non-jest tests"
Hello all. My Jest tests are all `.test.js` files throughout my project, which Jest picks up by default and runs fine.

I also have Cypress tests, which are all under one folder, for example...
[code]

However, this eslint plugin picks up on the Cypress tests with warning:
[code]

How can we guarantee that the plugin only runs on files that match the Jest file test pattern, and not every file that

[2019-11-18 16:25] SimenB commented on #478
We don't ask Jest for which files it considers to be tests. You should instead use `overrides` to only apply the plugin yourself.

https://eslint.org/docs/user-guide/configuring#disabling-rules-only-for-a-group-of-files

[2019-11-18 16:25] #478 closed

[2019-11-20 17:44] vieira commented on #467
Hello,

This also produces a warning with yarn (1.19.1) which I would like to avoid without adding a dependency to typescript.

`warning "eslint-plugin-jest > @typescript-eslint/experimental-utils > @typescript-eslint/typescript-estree > tsutils@3.17.1" has unmet peer dependency "typescript@>=2.8.0 || >= 3.2.0-dev || >= 3.3.0-dev || >= 3.4.0-dev || >= 3.5.0-dev || >= 3.6.0-dev || >= 3.6.0-beta ||

[2019-11-20 17:52] SimenB commented on #467
Please open up an issue with typescript-eslint - it was added in https://github.com/typescript-eslint/typescript-eslint/pull/1120

[2019-11-21 00:10] fadookie commented on #185
It's an interesting question. If there are only a handful of instances of this I suppose you could just add one-off exceptions via `// eslint-disable-line jest/prefer-spy-on` or somesuch. It doesn't seem that static analysis of a dynamic language like JS is really going to be able to distinguish these cases with such nuance.

I wonder if the linter would catch this form:
[code]
Kind of pointless p

[2019-11-21 10:02] balovbohdan opened #479 "typescript peer dependency is required"
We have this warning on the version `23.0.4` after running `yarn`:

[code]
There is `"@typescript-eslint/experimental-utils": "^2.5.0"` dependency. Think it should be placed in the `devDependencies`.

[2019-11-21 12:10] SimenB commented on #479
duplicate of #467

[2019-11-21 12:10] #479 closed

[2019-11-22 20:48] G-Rath commented on #466
On an aside, this could be a good place to use the new [eslint suggestions](https://github.com/eslint/rfcs/pull/30) API:

[2019-11-22 21:41] SimenB commented on #466
Oooh, exciting! Didn't know about that.

[2019-11-22 21:44] G-Rath commented on #466
Yeah, that's how I found out about it - probably want to wait at least a few months before we consider actually shipping something that uses it (unless that won't break? I'm not sure how backwards combat works w/ eslint plugins - now that I type this, I'm assuming it'll just be a property prior version of eslint would just ignore, so maybe we can start shipping 🤔).

[2019-11-22 21:52] SimenB commented on #466
Yeah, I'd hope we can ship this without waiting. Might need to wait for typescript-eslint to add types for it though (https://github.com/typescript-eslint/typescript-eslint/issues/1249)

[2019-11-23 21:28] erunion opened #481 "[prefer-expect-assertions] Addition of an "ifPromisesUsed" option"
I really like the `prefer-expect-assertions` rule, but requiring a test file to be covered in either `expect.assertions(n)` or `expect.hasAssertions()` calls when assertions aren't nested inside promises gets a little messy.

It would be rad to be able to have an `ifPromisesUsed` option on the rule that when enabled, would only throw the rule if:

* The test case returns a Promise directly to Jest

[2019-11-23 23:06] SimenB commented on #481
There are 2 use cases for `expect.hasAssertions();` - one is the promises one you point out, and the other is conditional logic (`if` or `throw`). All these cases are better covered by https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/valid-expect-in-promise.md, https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/no-try-expect.md and https://github

[2019-11-23 23:10] SimenB opened #482 "rename `no-try-expect` to `no-conditional-expect` and add support for `if`"
Sort of overlaps with `no-if`, but doesn't go as far as banning _all_ conditionals in tests - just assertions in them.

The case we're wanting to guard against with `no-try-expect` is `expect` not being run - I think this is the case for conditionals as well. There are other cases (like iterating through an empty array), but it's probably too hard to properly detect that.

@G-Rath thoughts on this

[2019-11-23 23:29] G-Rath commented on #481
I'm in a similar boat as you @SimenB - I've actually typed this out a couple of times as I ran through & ruled out the possible advantages.

I think you've hit the nail w/ `valid-expect-in-promise` - by having that enabled, it reduces this rule to either all or nothing; b/c otherwise what's the reasoning for not having it in the first test?

i.e You want it in all promise/callback tests, b/c they

[2019-11-23 23:37] G-Rath commented on #482
I think that makes sense, and serves as a good general rule for handling conditional expectations (surprise surprise) in whatever form they come in.

[2019-11-23 23:54] G-Rath commented on #109
@SimenB sounds like this is a fix we should *suggest* 😉

[2019-11-23 23:57] G-Rath opened #483 "[prefer-expect-assertions]: Suggest expect.hasAssertions fix"
Requires [suggestion support in typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/pull/1250).

`prefer-expect-assertions` should suggest fixing by adding `expect.hasAssertions`.

We could also do one for `expect.assertions`, but the suggestions api doesn't support any form of user input, and it might upset people having to find out the hard way that `expect.assertions` requ

[2019-11-23 23:58] SimenB commented on #109
hah, you _called_ it

[2019-11-24 00:30] SimenB commented on #483
Agreed - on both points 🙂

[2019-11-24 01:19] erunion commented on #481
`valid-expect-in-promise`, `no-try-expect`, and `no-if` certainly help to ensure that an `expect` is present in a test, but the main differentiation I see with `prefer-expect-assertions` is that it helps to ensure that you're writing assertions that are going to be run.

Jest will gladly run a test case where no assertions are called because something deep in the code that you're testing is trigge

[2019-11-24 02:12] G-Rath commented on #481
@erunion

re the burden of writing `expect.hasAssertions` boilerplate, you can use a `setupFilesAfterEnv` script:

[code]

https://github.com/G-Rath/babel-plugin-replace-ts-export-assignment/blob/master/test/setupExpectEachTestHasAssertions.ts

https://github.com/G-Rath/babel-plugin-replace-ts-export-assignment/blob/8dfdca32c8aa428574b0cae341444fc5822f2dc6/package.json#L52-L54

Granted you can't u

[2019-11-25 10:31] davidnghk01 opened #486 "jest/prefer-spy-on and module.exports"
I got a question during create manual mock for a module that just export single function.

Need is example

Source
[code]

In __mocks__
[code]

Above code is work but eslint will complain

How can i solve?

[2019-11-25 10:34] G-Rath commented on #486
Could you post some more details, such as what rules you're using, and what rules are actually failing?

[2019-11-26 00:42] SimenB commented on #466
@G-Rath support released, if you wanna play with it: https://github.com/typescript-eslint/typescript-eslint/releases/tag/v2.9.0

[2019-11-26 02:12] davidnghk01 commented on #486
@G-Rath

The rules i failing is [prefer-spy-on](https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/prefer-spy-on.md)

[2019-11-26 02:16] davidnghk01 commented on #486
[code]
Will be auto fixed to
[code]

But this cause another error : `Cannot spy the exports property because it is not a function; object given instead`

[2019-11-26 02:19] G-Rath commented on #486
I believe you're having the same behaviour that was described by #209

The long & short is you should only lint test files w/ `eslint-plugin-jest`, which the `mocks` folder is not (while used by jest, it's technically a different use-case than what `eslint-plugin-jest` is covering).

[2019-11-27 03:15] jrnail23 commented on #471
@erunion, I just stopped by to create an feature request for this exact issue (supertest's `expect`), so you already beat me to it.

@G-Rath, I tend to agree with your concerns about globbing, but would it be possible to (optionally) detect usages of a _method_, rather than only standalone functions?

[2019-11-27 03:56] erunion commented on #471
Instead of globbing, I've been playing around with a PR that'd support regex matching instead, but haven't made much progress so far due to my lack of ESLint parsing internals.

[2019-11-29 15:19] yatki opened #488 "[valid-expect]: support specifying custom async matchers"
A bit similar to https://github.com/jest-community/eslint-plugin-jest/issues/54, when we don't await .toReject(), the test returns false positive.

Maybe it's better to have a rule like `await-async-matchers` to cover all this cases.

[2019-11-29 15:49] SimenB commented on #488
`toReject` is not part of Jest core, so I don't think built-in support makes sense. We can however maybe take some config either globally er per rule for `asyncMatchers` or some such?

[2019-11-30 12:34] yatki commented on #488
Ah yes it was part of the `jest-extended`, wasn't it? Sorry for the issue then.

However, I really liked the idea of accepting a config parameter. What I understood from that is: I can add `.toMyCustomMatcher()` as an async matcher to my .eslintrc config and `valid-expect` rule or a new rule can make sure that those matchers are awaited.

Please let me know if it make sense this way, or did you me

[2019-12-02 12:54] hon2a commented on #128
Please note that support for `extends` in `overrides` has been added in ESLint 6. (So this may likely be closed.)

[2019-12-02 13:13] hon2a opened #491 "Use in `overrides` applies the rules to all files, not just to the matched ones"
### Setup

`.eslintrc`
[code]

### Expected

It should apply the "recommended" ruleset from `eslint-plugin-jest` only on the files matching `src/**/*.test.js` (with the exception of `!src/api/**/*.*`).

### Actual

It applies the Jest ruleset to all my source files, namely to the Cypress test files `cypress/**/*.js`, which are most certainly not matched by the `files` selector. (This produces hund

[2019-12-02 17:38] G-Rath commented on #491
My understanding is that `overrides` is a completely eslint-core feature - plugins don't have to do anything to support it.

We've also had eslint setups working using overrides by other users of this plugin, as it was the solution recommended for some issues. I also just tested it myself to be sure, and it works fine.

I suspect the issue is with your setup. I won't close the issue outright, but

[2019-12-02 17:41] G-Rath commented on #491
Actually, I've confirmed the issue is what I suspected: You shouldn't use negation in `files` ,as the globs are applied separately.

Instead, you should use the `excluded Files` field.
What's happening is that you're saying:

Instead, you want this:
[code]

[2019-12-02 17:41] #491 closed

[2019-12-02 19:36] hon2a commented on #491
@G-Rath Thanks a lot for that investigation! Now I wonder if it ever worked differently (as I seem to remember solving a similar conflict with it) or if it's just my misconception from the start. In any case, now I know better; sorry for taking up your time to figure it out.

[2019-12-02 19:39] ldeveber opened #492 "error upgrading from 22.7.0 to 23.1.1"
I'm seeing this error loading the jest plugin in my config. Any ideas?

[code]

Here is my config file
[code]

[2019-12-02 20:01] G-Rath commented on #492
That error indicates that you've not got `eslint-plugin-jest` installed.

Could you provide a copy of your `package.json`, and try removing `node_modules` & re-installing? (you can do this in one command via `npm ci` if you're using `npm`).

[2019-12-02 20:05] ldeveber commented on #492
Package.json:

[code]

Result:
[code]

[2019-12-02 22:31] benmonro opened #493 "new rule request: valid-each"
when using a `describe.each` or `test.each` it would be nice to have a rule to ensure that the pretty formatting or `$variable` injection is used to ensure the results are unique.

for example, rule would report on
`test.each([1,2,3])("Should square the number", () => {...})`

but not report on

`test.each([1,2,3])("Should square %i", () => {...})`

[2019-12-03 15:57] benmonro commented on #109
I was just going to suggest this feature as well.  the rule should also handle `expect(some.mock.calls).toHaveLength(x)` and `expect(some.mock.calls[0][0]).toBe("foo")`

first one could be fixable, 2nd... might be trickier.

[2019-12-05 11:34] screendriver opened #494 "`no-test-callback` complains in non Promise based test"
Following code snippet will ESLint complain with a `error  Illegal usage of test callback  jest/no-test-callback` despite I'm not using a Promise based test:

[code]

[2019-12-05 11:44] SimenB commented on #494
Yes, this rule is meant to discourage _all_ usage of the `done` callback. You can write this instead:

[code]

Note that this test will time out if `expect` fails as the promise (or callback in your original example) is never rejected.

A better version would be something like this

[code]

I realise your code is slimmed down example code, but if you have a callback based api using https://nodejs.

[2019-12-05 11:44] #494 closed

[2019-12-05 11:49] screendriver commented on #494
Ok, this is new for me. Well the **all** part of it. So I will go with this one

[code]

:+1:

[2019-12-11 19:14] shinjini-hopjump opened #495 "[valid-expect-in-promise] has a bug for `then`/`catch`"
Issue:
The following code triggers an error `Promise should be returned to test its fulfillment or rejection`:
[code]
Whereas the following does not:
[code]
I also get the same results if I replace `then` with `catch`.

Expectation:
None of these should trigger errors since I am not expecting anything in them.

I have narrowed the issue to the `isFullExpectCall` function. Should you use `isExpectC

[2019-12-18 19:02] G-Rath commented on #492
Interesting - maybe it's related to `react-app`...?

Could you provide some information on the file structure of your project, and the exact command you're using to invoke `eslint`?

[2019-12-18 21:23] ldeveber commented on #492
This is for an electron app with a java backend, where we have two different jest suites. File structure is like:

- aaa
  - package.json
  - node_modules
  - aaa-static
    - node_modules
    - src
    - test
    - package.json
  - aaa-svc

Command is `eslint ./src ./tests` which is ran from aaa-static.

We are currently only trying to lint `aaa-static`.

[2019-12-18 21:51] G-Rath commented on #492
Could you try installing `eslint-plugin-jest` at the top level, and seeing if that fixes it?

I suspect the issue might be b/c `eslint` looks at the top level `node_modules` - if that is correct behaviour is another story we can dive into afterwards; for now it's a quick & easy thing to test :)

[2019-12-28 22:52] leonardovillela commented on #432
Can i take this issue?

[2019-12-28 22:56] SimenB commented on #432
Go for it!

[2020-01-04 07:51] G-Rath commented on #432
closed by #498 / #502

[2020-01-04 07:51] #432 closed

[2020-01-06 19:38] jtheberge commented on #481
What are thoughts on option for detecting `async` it/test functions? With `no-test-return-statement` enabled, no promises would be returned so looking for `async` and applying in scope of func should guarantee it's conditional on any async tests only

[2020-01-06 19:49] jtheberge opened #505 "[no-if] Request no switch cases ([no-switch] ?)"
Switch statements should also be blocked since they are conditional logic. Docs of `no-if` state it blocks conditional statements, but doesn't cover this.

[2020-01-09 15:12] MatteoGabriele commented on #467
Hi there!
I've seen lots of issues about this and mostly closed issues and yet the warning is still there: why this warning about typescript? why @typescript-eslint/experimental-utils is a dependency and not a devDependency?

I'm using yarn 1.21.1 and eslint-plugin-jest ^23.0.4 and still see this all the time I install.
is there a fix for this?

thanks a lot for your time

[2020-01-09 15:35] SimenB commented on #467
This is the current state: https://github.com/typescript-eslint/typescript-eslint/issues/1287#issuecomment-560022251

Might be worth opening up an issue with [`tsutils`](https://github.com/ajafff/tsutils) and asking if they'd consider making the peer optional?

[2020-01-09 15:38] MatteoGabriele commented on #467
Yeah i read that too, bit shouldn't this package have it has a devDependency? Wouldn't that solve it?

[2020-01-09 15:43] SimenB commented on #467
We already have it as a dev dep, but that's not included when you install this module.

`typescript` is never required at runtime(*), so it's **completely** safe to ignore the warning. I understand it's annoying though, and the solution is for modules who have it as peer to mark it as optional if they do not need it at runtime. `tsutils` might need to refactor quite a bit in order to make that tru

[2020-01-09 15:49] MatteoGabriele commented on #467
I do see it in the package.json as a dependency: https://github.com/jest-community/eslint-plugin-jest/blob/master/package.json#L39

thanks for your quick feedback btw!

[2020-01-12 11:05] G-Rath opened #516 "[no-duplicate-hooks]: allow body-less duplicates"
I don't want duplicate hooks that have huge bodies, but I am happy with single-line self contained hooks as I can move them around easily:

[code]

In the above, the first two blocks should be merged.

Effectively: if a hook function has a body, it should be merged. This should be controlled via an option: `allowBodilessDuplicates`.

[2020-01-12 11:28] #505 closed

[2020-01-12 11:31] folke commented on #471
This issue can be closed since https://github.com/jest-community/eslint-plugin-jest/commit/295ca9a6969c77fadaa1a42d76e89cae992520a6 implements this

[2020-01-13 08:06] adrianjost opened #518 "no-disabled-tests doesn't recognice spreading"
We have defined a couple of tests that we run for a lot of components we build. Those tests get auto generated by a method and the return value gets spreaded into the test method. Unfortunatly the rule `no-disabled-tests` can not resolve the spreading and therefore throws an error ( `Test is missing function argument eslint(jest/no-disabled-tests)` ).

minimal example:
[code]

a more practial exam

[2020-01-13 08:30] G-Rath commented on #518
@adrianjost I should be able to fix this, tho I'd recommend you use index accessing rather than spreading the argument

(Just an FYI this isn't destructing, it's spreading)

[2020-01-13 08:46] adrianjost commented on #518
@G-Rath That would be awesome.
And sorry, I mix these words sometimes. Shame on me 😌 I will adjust the issue for easier reference in the future.

Could you give me an example how to use index accessing in this case? I think it would be pretty awkward to write something like `it(test[0], test[1]);` in every testcase.

[2020-01-13 10:40] G-Rath commented on #518
@adrianjost I thought that you said the tests got auto generated?

Hence have the generator generate the index access, or better yet the whole test?

[2020-01-13 11:05] adrianjost commented on #518
@G-Rath Yes kindof. We have a global function called `isValidComponent` which will receive a Component as a parameter and uses this component to generate and return an Array that includes the testname with the populated component name as the first entry and a test function populated with the component to test as the second parameter.

[2020-01-15 23:09] jtheberge commented on #505
Thanks!

[2020-01-20 00:51] leonardovillela commented on #244
Can I take this issue?

[2020-01-20 01:03] SimenB commented on #244
Yeah, go for it 🙂

[2020-01-20 04:37] G-Rath commented on #486
I'm going to close this since it doesn't seem like there's anything for us to action :)

[2020-01-20 04:37] #486 closed

[2020-01-20 04:38] G-Rath commented on #492
@ldeveber are you still having problems, or can I close this? 🙂

[2020-01-20 04:46] G-Rath commented on #102
I'm going to close this, since it seems like it was resolved. Feel free to open a fresh new issue if you've still got problems :)

[2020-01-20 04:46] #102 closed

[2020-01-22 17:47] ldeveber commented on #492
Sorry, I did not get a chance to try this again yet! I will try today

[2020-01-22 23:54] vieira commented on #467
@SimenB Would moving `@typescript-eslint/experimental-utils` from `dependencies` to `devDependencies` as @MatteoGabriele suggested solve it?

I understand that it is safe to ignore this particular warning, however I am afraid that if we start having this kind of "safe" warnings people will simply start to ignore all warnings, so I would like to avoid them if possible.

[2020-01-23 00:00] G-Rath commented on #467
@vieira

It would solve the warning occuring, but create the new problem of breaking the entire package :)

[2020-01-23 17:00] ldeveber commented on #492
I'm still getting the same error :(

[2020-01-23 17:19] G-Rath commented on #492
@ldeveber would you be able to provide your full `package.json` & lock?

[2020-02-05 06:55] asaf-shochet opened #530 "add option to not allow .only tests"
We would like to block the option to run .only tests when building to production.
Is there a way to add this feature?

It's similar to this feature:
https://github.com/jest-community/eslint-plugin-jest/blob/14496756d8e91b6a9642f72a04d87dc0399a8033/docs/rules/no-disabled-tests.md

Thanks!!

[2020-02-05 08:11] SimenB commented on #530
That's https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/no-focused-tests.md

[2020-02-05 08:11] #530 closed

[2020-02-06 01:31] SimenB commented on #223
Bad example, should be

[code]

[2020-02-06 15:45] aryehb commented on #223
I just tested that as well with the same results. The error is immediately caught by Jest without waiting for the timeout.

[2020-02-07 20:12] k-funk opened #531 "Feature Request: ensure `test` inside of `describe`"
I'd like to have a rule for making sure that there's always at least one `test` inside each `describe`. It's easy when refactoring code to end up with something like this:

[code]

^ doesn't actually run a test. It's just dead code.

---

This could possibly be added into `valid-describe`.

[2020-02-07 20:39] #313 closed

[2020-02-08 20:24] ron23 commented on #295
I too don't really understand the existing `no-try-expect` rule that was introduced in #331 .
How can I test more complicated logic in a catch?
Example:
[code]

I want to be able to assert on things that happened after my async invocation.
Another use case is testing multiple assertion on the error itself and I don't always like to use `expect.objectContaining` or alike.

I think that the warning

[2020-02-08 21:08] G-Rath commented on #295
@ron23 you should be able to use `expect().toThrow`:

[code]

[2020-02-08 22:07] SimenB commented on #295
almost - need to be `await expect(() => store.dispatch(actions.someFailingAction)).rejects.toThrow();`.

We don't have a really clean way if you wanna make multiple assertions on the error, though.

[2020-02-08 23:25] ron23 commented on #295
Thanks @SimenB
Can you elaborate about the difference between your suggested solution to one without invoking the async function inside the expect?
The difference between:
```await expect(() => store.dispatch(actions.someFailingAction)).rejects.toThrow();```
to
```await expect(store.dispatch(actions.someFailingAction).rejects.toThrow();```

As for not having solution for multiple assertion means I

[2020-02-08 23:53] G-Rath commented on #295
re my response: I had just woken up and have not retained the context for this issue since it's 6 months old, so I freeballed it to push you in the right direction :joy:

I expected it to be "mostly right", but should have mentioned "something like <code example>" to make that clearer.

@SimenB's code example is actually also "almost" - it actually needs to be:

(warning: this is ugly code)

[code

[2020-02-10 12:45] SimenB commented on #531
Your particular example is covered by https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/no-standalone-expect.md

Combined with https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/require-top-level-describe.md I think your use case is covered, no? If not, mind detailing a bit more?

[2020-02-10 22:22] k-funk commented on #531
LTDR: My bad. Thanks for the help!

Excellent. I am using `plugin:jest/recommended`, and only reviewed the non-recommended rules to see if those might help me with the problem above. Your comment made me realize that I was on v22, and reading the docs for v23, of which `no-standalone-expect` was added to the recommended.

[2020-02-10 22:22] #531 closed

[2020-02-10 22:29] SimenB commented on #531
Great, thank you @k-funk!

[2020-02-11 13:02] SLiebald commented on #391
We stumbled over this issue when adding eslint-plugin-jest to our project.

As valid-expect has more useful check than just the "only 1 argument allowed" we would like to keep it, but have the issue that in several places we use jest-expect-message plugin for an additional message.
Currently we just manually disable the valid-expect rule in those places.

Is ist still planned to add this configura

[2020-02-11 13:10] SimenB commented on #391
A PR would be most welcome 👍

[2020-02-11 19:24] k-funk opened #534 "`expect-expect` & `no-standalone-expect` when using `expect` in afterEach"
## Example Code

Sometimes I group my enzyme snapshot tests like this to avoid writing `expect(shallowToJson(wrapper)).toMatchSnapshot()` repeatedly:
[code]

The tests are often times more complex than ^ with which props are being passed.

---
## Problem

There are two `eslint-plugin-jest` rules that I'd like to use, `expect-expect` and `no-standalone-expect`, but they are incompatible with the pa

[2020-02-14 17:51] gndelia commented on #534
I was about to open a similar ticket, but I found yours. I am having a different scenario, but similar issue.

We added this library to for our tests https://www.npmjs.com/package/jest-theories, so our tests now run inside `theoretically` functions. Though we know about using `jest.each`, this tiny adittion fit our team, given most of them have a C# background and use a very similar library

Becau